[2015-04-08 13:23] TomSmithCGAT opened #2 "Pipeline_readqc - automatic adapter contamination detection improvements"
The latest version of fastqc includes an additional analysis ("adapter content") to identify 12bp fragments of Illumina Universal adapters, Illumina small RNA adapters and Nextera Transposase adapters.

I've observed this can detect adapter contamination which is missed by the overrepresented sequences analysis. We should include a parsing of the adapter content output to identify contaminating ad

[2015-04-08 13:43] TomSmithCGAT commented on #2
In addition, the readqc_pipeline will fail with .sra input if automatic adapter contamination requested due to line 108 in PipelinePreprocess.makeAdaptorFasta which expects the infile to contain "fastq"

[2015-04-16 14:57] TomSmithCGAT opened #6 "pipeline_annotations - ensembl GTFs >v77 have changed format"
When GTF is from ensembl >= 78 gtf source no longer contains the gene biotype (e.g protein_coding)
see response to: https://www.biostars.org/p/120306/

Instead, the biotype is contained in the attributes. Some of the outfiles from pipeline_annotations only retain the transcript_id and gene_id fields in the attributes. For example, geneset_flat.gtf.gz These GTFs can then no longer be filtered using

[2015-04-20 08:57] MikeDMorgan opened #7 "pipeline_quickstart tries to reference scripts directory"
Currently pipeline_quickstart.py tries to access files from it's current working directory (scripts) that actually exist in the CGATPipelines directory (CGATPipelines/pipeline_template_data/).  It takes this directory from an apparently global variable (which is not explicityl declared as such).
Proposal - have an option that can be passed that will point to the correct CGATPipelines directory.

[2015-04-20 09:19] AndreasHeger opened #8 "pipeline_peakcalling - add regression tests"

[2015-04-20 09:20] AndreasHeger opened #9 "pipeline_peakcalling - revise documentation"

[2015-04-20 09:22] AndreasHeger opened #10 "pipeline_intervals - add regression tests"

[2015-04-20 09:22] AndreasHeger opened #11 "pipeline_intervals - update documentation"

[2015-04-20 09:22] AndreasHeger opened #12 "pipeline_idr - add regression tests"

[2015-04-20 09:23] AndreasHeger opened #13 "pipeline_idr - update documentation"

[2015-04-20 09:23] AndreasHeger opened #14 "pipeline_rnaseqlncrna - add regression tests"

[2015-04-20 09:24] AndreasHeger opened #15 "pipeline_rnaseqlncrna - revise documentation"

[2015-04-20 09:24] AndreasHeger opened #16 "pipeline_exome - add regression tests"

[2015-04-20 09:25] AndreasHeger opened #17 "pipeline_exome - updated documentation"

[2015-04-20 09:26] AndreasHeger opened #18 "pipeline_mapping - update documentation"

[2015-04-20 09:26] AndreasHeger opened #19 "pipeline_mapping - improve regression tests"

[2015-04-20 09:26] AndreasHeger opened #20 "pipeline_rnasediffexpression - improve regression tests"

[2015-04-20 09:27] AndreasHeger opened #21 "pipeline_rnaseqdiffexpression - update documentation"

[2015-04-20 09:27] AndreasHeger opened #22 "pipeline_timeseries - add regression tests"

[2015-04-20 09:27] AndreasHeger opened #23 "pipeline_timeseries - update documentation"

[2015-04-22 15:27] #7 closed, assigned to nobody

[2015-04-23 08:20] AndreasHeger opened #25 "local variable ensembl_no referenced before assignment"
[code]

[2015-04-23 08:29] AndreasHeger commented on #25
Hi @TomSmithCGAT , Please fix.

Also, do not work with ENSEMBL version numbers. Instead test if the attributes you need are present and if not fall back to something else. And respect the boundaries between pipelines - do not try to guess what another pipeline has done, but only work with the data exported.

(The error comes about because I use an annotation directory that follows a different nami

[2015-04-23 08:56] AndreasHeger opened #26 "default behaviour of adapter contamination test has changed"
While previously the test data was a PASS, now the section is empty and it is a WARN.

Is this intended?

[2015-04-23 09:00] MikeDMorgan commented on #26
I'll investigate.  Following implementation of the automatic contamination removal function FastQC changed versions, subsequently the way that it reports and stores overrepresented sequences and adaptor contamination has changed.  This may be the reason.

[2015-04-27 07:31] TomSmithCGAT commented on #25
@AndreasHeger Thanks for the advice. The issue is that "source" column of the GTF file (column 2) no longer contains the expected values, e.g "processed_transcript" but now contains the actual source of the annotation, e.g "havana". The "processed_transcript" string is now contained in the attributes as a gene biotype which is lost during the creation of the geneset_all.gtf.gz file.

This can eith

[2015-04-27 07:45] TomSmithCGAT commented on #6
duplicate of issue #25

[2015-04-27 07:45] #6 closed, assigned to nobody

[2015-04-27 08:18] AndreasHeger commented on #25
Hi @TomSmithCGAT , the purpose of pipeline_annotations is to provide genomic annotations in a standardized format - so yes, dealing with the effects of different ENSEMBL versions needs to be implemented in pipeline_annotations. The correct way is not to patch, but to generalize the current implementation such that both old and new ENSEMBL can be accommodated.

Best wishes,
Andreas

[2015-04-27 08:22] TomSmithCGAT commented on #25
@AndreasHeger - OK, I'll try and make pipeline_annotiations consistent between ensembl versions.

[2015-04-27 08:23] AndreasHeger commented on #25
Thanks! Happy to help.

[2015-04-27 17:00] TomSmithCGAT commented on #25
Issue resolved by modifying GTF.Entry class and gtf2gtf.py to retain gene_biotype tag in attributes of merged GTFs. Removed patch from pipeline_mapping.py and PipelineMapping.py.

Changes made on following branches:
TS-pipeline_annotations_constistency_ENSEMBL_version (CGATPipelines)
TS-Add_re-source_method_to_gff2gff (cgat)

[2015-04-28 11:00] MikeDMorgan commented on #26
The current behaviour results fromm incorrect parsing of the contaminants file.  In the absence of an adaptor contaminants file Fastqc will attempt to detect common adaptor sequence contamination over reads and output a histogram approapriately.  This is however based on common 12mers and may not indicate genuine contamination.  Instead the actual adaptor sequnces can be provided for this module,

[2015-04-28 13:08] TomSmithCGAT commented on #8
@Charlie-George I've set up a new branch to work on pipeline_peakcalling (TSCG-scrumAPR
Once you've split the scripts and pipelines, if you go to your new CGATPipelines repository and run

`git fetch`

You should see the line:

_[new branch]      TSCG-scrumAPR15_pipeline_peakcalling -> origin/TSCG-scrumAPR15_pipeline_peakcalling"_

which tells you that you have a new local branch available which t

[2015-04-29 08:36] AndreasHeger commented on #26
Thanks, this has been fixed!

[2015-04-29 08:36] #26 closed, assigned to MikeDMorgan

[2015-04-29 08:36] AndreasHeger commented on #25
Thanks, this has been fixed.

[2015-04-29 08:36] #25 closed, assigned to TomSmithCGAT

[2015-04-29 15:31] Charlie-George commented on #8
I've updated the pipeline with minor changes that should let it run and I'll raise issues for the other things that need to be done.

[2015-04-30 11:40] TomSmithCGAT commented on #8
@Charlie-George I've had to move the directory for testing pipeline_peakcalling to _/ifs/projects/toms/pipeline_peakcalling/_ as I ran out of space in my devel directory.

[2015-05-12 08:06] MikeDMorgan commented on #23
Documentation updated with commit 359e548a2badd40017f246abf41c95c4214c5cc1.

[2015-05-12 08:06] #23 closed, assigned to MikeDMorgan

[2015-05-18 15:34] Charlie-George opened #31 "pipeline_peakcalling - runSPP.py does not function"
runSPP.py does fails with error

Traceback (most recent call last):
  File "/ifs/devel/charlotteg/cgat/scripts/runSPP.py", line 300, in <module>
    sys.exit(main(sys.argv))
  File "/ifs/devel/charlotteg/cgat/scripts/runSPP.py", line 235, in main
    cluster=cluster);''' % locals())
  File "/ifs/apps/apps/python-2.7.1/lib/python2.7/site-packages/rpy2/robjects/**init**.py", line 246, in **call**

[2015-05-22 09:24] TomSmithCGAT opened #32 "Duplicate files in pipeline_mapping.py when merging BAMs"
Currently, pipeline_mapping.py will merge BAMs from the same sample using the input and output patterns set in pipeline.ini

The Merged BAMs are then added to the global variable MAPPINGTARGETS on which the downstream functions are run. This duplicates the workload as all functions are run on all individual BAMs and the merged BAM. Presumably this is because the user may want to check the individu

[2015-05-23 13:58] jethrojohnson opened #33 "Pipeline.RuffusLoggingFilter raises error when file paths exceed 85 characters"
Ruffus tasks involving file paths > 85 characters are failing when running 'make'.

It seems that either ruffus's pipeline_printout() or StringIO.getValue() splits lines > 85 characters, meaning the string argument (ruffus_text) passed to RuffusLoggingFilter contains tab separations that are causing split_by_job to fail.

For example, the following task works fine:

[code]

giving:

[code]

Wherea

[2015-05-23 20:06] AndreasHeger commented on #33
Thanks Jethro, that should be the only instance where this is a problem.

I will create a fix and pull request.

[2015-05-23 20:28] AndreasHeger commented on #33
Please see #34, does it work?

[2015-05-23 20:33] AndreasHeger commented on #32
Thanks, to run all the downstream QC is part of the design.  The idea is to have the QC metrics both for the merged files, but also for the unmerged files. This is to spot if there have been any issues with particular lanes (for example, a higher proportion or unmapped reads). I think this is an important feature and suggest that all the metrics should be run on all BAM files.

We might need to lo

[2015-05-24 10:50] jethrojohnson commented on #33
Thanks Andreas - the above example (longTask) works fine on branch AH-FixForIssue33.

[2015-05-26 17:42] AndreasHeger commented on #33
Thanks, closed!

[2015-05-26 17:42] #33 closed, assigned to nobody

[2015-06-05 12:29] AndreasHeger opened #35 "pipeline_readqc - use all file formats for pre-processing"
Currently the pre-processing steps seem not to be able to use input data other than fastq data. There is no reason for this as PipelineMapping.py already provides the framework for conversion of non-fastq data to fastq data.

[2015-06-05 13:42] AndreasHeger opened #36 "pipeline_readqc - remove duplication of fastqc code"
When pre-processing, fastqc is run twice: once on the unprocessed data and once on the processed data. This is implemented by duplication, which should not be necessary. If processed output needs to run from pre-processed output, this can be handled by the runFastqc method.

[2015-06-09 11:37] IanSudbery opened #39 "Use of sqlite database on Lustre/NFS filesystems"
I recently started trying to use the pipelines in earnest on our HPC here, and have immediately run into a pretty serious problem: I would appear that one cannot use sqlite databases on a lustre filesystem (which is the file system we use here for our high performance storage). I've not yet fully determined whether this problem is caused by any access or only attempts at concurrent access, but all

[2015-06-09 12:42] AndreasHeger commented on #39
No ideas yet, but will look into this. In principle database access is abstracted. csv2db uploads data for mysql, postgres and sqlite, while CGATReport uses sqlalchemy to connect to mysql, sqlite and postgres. However, there are many instances of within pipeline database access that are sqlite specific and will need refactoring.

Can you try setting:

[general]
jobs_limit_db=1

I expect that the p

[2015-06-09 14:33] IanSudbery commented on #39
Hi Andreas,

So setting the jobs_limit doesn't help, at least on the Lustre system. Although I find it difficult to confirm that the jobs_limit is doing what it says it is, running a csv2db.py command on the commandline gives the same error. However, the command will run without error on an NFS location.

I read somewhere that sqlite confirms its writes by querying something about the low-level di

[2015-06-09 14:39] AndreasHeger commented on #39
Thanks, I see. Are there any databases installed on your systems? What do people use for data storage other than the file system?

[2015-06-09 16:26] sebastian-luna-valero commented on #39
Is there any additional error/output log file from sqlite that you can look at? (apart from to Python's traceback)

That would help to narrow down the problem.

Other interesting reading:
https://www.sqlite.org/faq.html#q5
https://www.sqlite.org/faq.html#q6
https://www.sqlite.org/lockingv3.html
https://www.sqlite.org/wal.html

NB: We use ifs through NFSv3.

[2015-06-12 09:41] AndreasHeger commented on #39
It seems to be something that ruffus struggles with as well:

https://code.google.com/p/ruffus/issues/detail?id=59
http://www.ruffus.org.uk/tutorials/new_tutorial/checkpointing.html

From reading around, it seems that in principle in should not be a problem in lustre. The locking mechanisms that sqlite requires are there, but might be not behaving in the way that sqlite expects.

[2015-06-12 09:43] AndreasHeger commented on #39
There is this thread:
http://comments.gmane.org/gmane.comp.file-systems.lustre.user/5724
It says:

[code]

Not sure if that is an option.

[2015-06-12 17:14] IanSudbery commented on #39
I can ask the HPC people here...

[2015-06-19 08:28] IanSudbery commented on #39
Running the databases in a seperate localtion seems to be working so far. Don't know how well it will work if the databases start getting too large to live on my 100Gb NFS share...

[2015-06-19 08:29] IanSudbery commented on #39
I asked about mounting with -o flock: apparently if slows the entire system down by a large amount.

[2015-06-22 16:56] sebastian-luna-valero opened #40 "pipeline_annotations pep8 error"
Dear All,

I have just fixed a problem with the installation script of the CGATPipelines (thanks @jscaber!).

However, the master branch of the CGATPipelines is failing due to a pep8 error:
https://travis-ci.org/CGATOxford/CGATPipelines/jobs/67868390#L1790

Could you please have a look?

Many thanks,
Sebastian.

[2015-06-22 17:30] jscaber commented on #40
Fixed & sent pull request.
Jakub

On 06/22/15 17:56, Sebastian Luna Valero wrote:

[2015-06-23 09:23] #40 closed, assigned to nobody

[2015-06-23 11:30] IanSudbery opened #42 "Unknown resource 'picard'"
I'm getting this error trying to run pipeline_mapping.

The picard resource was defined on the CGAT cluster, because running multiple picard jobs on a single compute node was leading to some very odd states where the processes would effectively wait forever, thus the picard resource was defined to allow only on process to run at once.

However, I'm not able to define this resorce on the cluster he

[2015-06-23 12:51] AndreasHeger commented on #42
Thanks. I think we need to get rid of this resource requirement and put in place a mechanism to specify job parameters for given jobs in pipeline.ini. I can implement that.

In the meantime if you want to submit a pull-request without all the picard requirements, please do so. I almost expect that this problem has gone away with upgrades to java and picard.

[2015-06-23 13:48] IanSudbery commented on #42
See above PR

[2015-06-24 12:42] TomSmithCGAT commented on #2
Adapter contamination detection is working correctly

[2015-06-24 12:42] #2 closed, assigned to nobody

[2015-06-24 13:01] TomSmithCGAT commented on #8
@Charlie-George Regression tests for pipeline peakcalling have been added to the pipeline.ini for pipeline_testing.py

[2015-06-24 13:01] #8 closed, assigned to TomSmithCGAT

[2015-06-24 13:53] TomSmithCGAT opened #45 "Specifying job_memory for cluster_runnable decorated jobs"
When Ian wrote the cluster_runnable decorator in Pipeline.py, we were specifying the memory required for each job using e.g jobOptions="-l mem_free=2G", then job_options="-l mem_free=2G".

We're now using the variable job_memory. Unless I'm mistaken, the decorator does not recognise job_memory as a submit argument when pickling the arguments with Pipeline._pickle_args(). I've added "job_memory" an

[2015-06-24 21:06] AndreasHeger commented on #45
Yes, that is correct. Thanks!

[2015-06-25 07:48] IanSudbery commented on #45
Thanks Tom. I similar thing probably needs to happen with job_threads as well, although less urgent, as I suspect few jobs using this mechanism require more than one thread.

[2015-06-25 08:24] TomSmithCGAT commented on #45
@IanSudbery I included job_threads as well (defaulted to 1), though I agree this is unlikely to ever be needed.

[2015-06-25 08:25] #36 closed, assigned to jscaber

[2015-06-25 10:16] TomSmithCGAT opened #47 "job_memory option is ignored in P.run()"
@AndreasHeger. The current control flow for setting memory in P.run() (see below) will set job_memory to PARAMS["cluster_memory_default"] or "2G" whether or not the job_memory variable exists in the namespace! Setting job memory using "mem_free ..." still works though. The first if statement should set job_memory to options['job_memory'].

This is implemented in the branch TS-working. I'm going to

[2015-06-29 14:50] #42 closed, assigned to nobody

[2015-06-30 08:55] IanSudbery opened #52 "lincRNAs in pipeline_annotations"
All annotation for lincRNA transcripts is currently missing in the pipeline_annotations transcript_info table. This is because when `downloadTranscriptInfomation` queries biomart it asks for the uniprot_id. Of course lincRNAs don't have a uniprot id. In other cases where information is missing, biomart just returns an empty field (it appears to be doing a LEFT JOIN), but in the case of uniprot, th

[2015-06-30 12:17] IanSudbery opened #53 "Shared Memory Usage in STAR"
My STAR runs are failing with the error:

[code]

However, the --genomeLoad setting is hard coded in pipeline_mapping.

Perhaps this is due to the memeory issues we are having? I've also been having fastqc jobs failing with errors suggestive of a lack of memory.

[2015-06-30 12:35] Charlie-George commented on #53
My STAR runs are also doing the same, I think it’s all connected to the memory issues.

I did find this post  (https://github.com/alexdobin/STAR/issues/36)  and thought it may be a problem as the new STAR version was only recently installed,  but i rebuilt the index with the new version and it has made no difference to the memory errors, but perhaps I’ve misunderstood what the post meant?

On 30 J

[2015-06-30 13:17] AndreasHeger commented on #53
Thanks. From the man page of shm_open, the error suggests:

[code]

and

[code]

This could be due to the ulimit setting in Pipeline.py - is it disabled? If not, can you do so to check?

[2015-06-30 13:22] Charlie-George commented on #53
Hi Andreas,

Yes I hashed out the ulimit setting in Pipeline.py and still got the error. STAR does map some files it’s just a proportion that give the error, but they seem to complete when you rerun them.

Thanks.

On 30 Jun 2015, at 14:17, Andreas Heger <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks. From the man page of shm_open, the error suggests:

#define EINTR

[2015-06-30 13:34] AndreasHeger commented on #53
Thanks. Can you keep monitoring this? Next time it fails we will look at the log-file to see which machine it was executed on and what the load status of the machine was.

[2015-06-30 13:38] AndreasHeger commented on #52
Yes, uniprot ids could be removed. They should go into a separate table.

Best,
Andreas

[2015-06-30 13:39] AndreasHeger commented on #52
(The polyphen pipeline was making use the uniprot ids, but this part is currently dormant)

[2015-06-30 13:53] AndreasHeger commented on #22
Completed by Mike

[2015-06-30 13:53] #22 closed, assigned to MikeDMorgan

[2015-06-30 14:18] IanSudbery commented on #53
I just ran into this again, but i'm not sure how I find the machine it is being sent to from the logs.

[2015-06-30 14:34] sebastian-luna-valero commented on #53
Hi,

I use:

[code]

but Andreas might want to confirm.

Best regards,
Sebastian.

[2015-06-30 16:12] IanSudbery commented on #53
Its difficult to catch - i'm mapping 44 files and its difficult to know which are going to which nodes, but my feeling is that jobs going to the 24Gb nodes are failing. Given that we are asking for 22.8Gb of memory, perhaps that is not enough? The orignal spec for STAR says it needs ~30Gb for a human genome unless the index is generated in sparse mode. Have we generated new indexes with different

[2015-07-01 11:24] IanSudbery commented on #53
Okay, I caught one in the act running on cgat112. It had a MEMUSE of 304.4M of 23.5GB, and a SWAPUS of 42.6M as reported by qhost.

I also got a slightly different error message. This time the error was:

[code]

18817995016 bytes is about 17.5GB so there was sufficient free RAM on the machine.

[2015-07-01 11:26] IanSudbery commented on #53
I don't know if its realated, but I've just had a load of bwa jobs fail with out of memory as well.

[2015-07-01 13:18] AndreasHeger commented on #39
Thanks. I have implemented the fundamentals for other database access - mysql should work, but the code will still need to develop.

[2015-07-01 13:24] Charlie-George commented on #53
My files that were being mapped on 102 which has 24Gb were failing also, however I'm also getting a different memory error from a file mapped on 014 which has plenty of memory (I've lost it now but if it happens again I'll post it). I was using the hg38 index generated using  --genomeSAsparseD 2  which I think has been the default for all the indexes previously, although my index does not  filter

[2015-07-02 17:11] IanSudbery commented on #39
Hi Andreas,

At the moment things seem to be doing okay with sperating the database off in a serpate location. Not ideal, but working for the moment. May move to mysql in the future, but currently I don't have any machines I can run one on .

[2015-07-03 12:25] AndreasHeger commented on #39
Ok, thanks - I will close this issue for now to be reopened.

[2015-07-03 12:25] #39 closed, assigned to nobody

[2015-07-03 14:09] IanSudbery opened #54 "Database access from CGATReport"
Thanks for sorting out the database moving. One last thing that needs to move, and I need suggestions as to how to do it...

Some of the pipeline report trackers read their database location from pipeline specific sections of the ini file. For example, from MappingReport.py:

[code]

However, the database stuff is now in `[database]` rather than `[general]` or `[mapping]`. If this were changed to

[2015-07-03 14:26] sebastian-luna-valero opened #55 "rpy2 version"
Hi all,

There is now a conflict between rpy2 and r-3.2. That is why the master is failing to run the import tests successfully:
https://travis-ci.org/CGATOxford/CGATPipelines/jobs/69439799#L1830
https://travis-ci.org/CGATOxford/CGATPipelines/jobs/69439799#L1840

Specifically, it seems to be a problem of how rpy2 is imported. Please see:
https://bitbucket.org/rpy2/rpy2/issue/274/name-conversion-ru

[2015-07-03 14:30] AndreasHeger commented on #55
There used to be an issue, but I think we should try again with the latest version.

[2015-07-06 14:38] sebastian-luna-valero commented on #53
As announced in the emailing list, I have cleared up RAM space on some nodes and hopefully this will help with this problem.

Could you please adjust your "job_memory" requirements, try again and let me know if you find further problems?

Best regards,
Sebastian.

[2015-07-06 15:16] sebastian-luna-valero commented on #55
I have updated the installation script so the latest version of rpy2 is installed for the development version of the code but not on the production version of the scripts.

Tests are passing on both repositories, so will close this.

Many thanks,
Sebastian.

[2015-07-06 15:16] #55 closed, assigned to nobody

[2015-07-06 15:56] AndreasHeger commented on #54
Thanks. I agree that would be tricky. Is this a feature that you use often?

Best wishes,
Andreas

[2015-07-06 16:12] jscaber commented on #53
Following these changes I have today successfully mapped 76 paired end files (fastq.1.gz file size 2.5G) with STAR with no errors. I did not set any specific "job_memory" requirements.
Best wishes,
Jakub

[2015-07-06 16:14] IanSudbery commented on #53
Job_memory is set automatically in the mapping pipeline to max out the
smaller nodes at 23GB. This should be sufficient as the memory usage of
STAR on a human genome, given our index building options, should be 18GB.

_From:_ Jakub Scaber [mailto:notifications@github.com]
_Sent:_ 06 July 2015 17:12
_To:_ CGATOxford/CGATPipelines
_Cc:_ Ian Sudbery
_Subject:_ Re: [CGATPipelines] Shared Memory Usage

[2015-07-17 08:36] #35 closed, assigned to jscaber

[2015-07-17 10:46] AndreasHeger commented on #53
Thanks, this seems to be resolved.

[2015-07-17 10:46] #53 closed, assigned to nobody

[2015-07-17 11:06] AndreasHeger commented on #52
done, see 81e752e7c0b1fd790270d430c5da07bd6d5145a5

[2015-07-17 11:06] #52 closed, assigned to nobody

[2015-07-17 15:57] Charlie-George opened #59 "pipeline_mapping & pipeline_rnaseqtranscripts - Fasta references"
In several places the pipelines refer to the bowtie_index_file location for fasta and index files - this is fine if bowtie genome was used to generate files, however often these have been prefiltered to only contain standard chromosome (excluding ChrUn and _random, chrM) - if you have used a different genome to map to (e.g. that includes these other contigs) tasks such as PicardStats will fail. Th

[2015-07-20 08:45] AndreasHeger commented on #47
I think this has been fixed.

[2015-07-20 08:45] #47 closed, assigned to nobody

[2015-07-28 13:41] IanSudbery opened #62 "Memory usage in Pipeline.load"
I am finding that some of my csv2db commands, issued through Pipeline.load are running out of memory. For example, in pipeline_rnaseqtranscripts, the _transcripts tables can be very big, and the loading process memory intensive. However, as they are run through Pipeline.load, there is no mechanism for specifying job_memory.

[2015-07-29 11:15] AndreasHeger commented on #62
Thanks, loading the should not (but is) a memory intensive option. Currently, the default is to use multi-insert statements. Better is to use --quick option. However, this has so far only been implemented for sqlite3, and it might also not be done in the most portable way (you need sqlite3 in your path, for example).

[2015-07-29 17:11] IanSudbery commented on #59
Once upon a time, the index directory would contain the fa file used to generate the index. But i've noticed that something is deleting them from at least the star directory (its not the Makefile as far as I can tell).

[2015-07-29 20:04] AndreasHeger commented on #59
Which particular file?

[2015-07-30 11:37] IanSudbery commented on #62
Is this a short term or long term thinking? Is there something we can do in the short-term? Perhaps allow a `job_memory` to be passed to P.load? I suppose ideally the length of the file would be tested and the memory required calculated appropriately, but thats probably too much for right now.

[2015-07-30 15:37] AndreasHeger commented on #62
I think it could be done short-term. I will try what changing the default will do to our pipelines.

Best wishes,
Andreas

[2015-07-31 09:05] IanSudbery commented on #59
hg19.fa in the star indexes. Its really odd. I ran the Makefile, hg.fa was created from the faidx directory, and the index made. The next time I looked in the directory the hg19.fa was gone. As are all the other fasta files.

[2015-07-31 09:40] IanSudbery opened #73 "Sphinx ZeroDivisionError in mapping pipeline report"
Hi Guys,
I'm failing to be able to build the mapping report. I get a few of the pages, but not many, and they are not formatted, it looks like the css is missing. Checking in report.log I find the following:

[code]

I've no idea whats going on here. Worked fine until recently.

[2015-07-31 10:43] AndreasHeger commented on #73
There is an issue with tables of more than ~100 columns. I have changed CGATReport to automatilly
make tables with more than 100 columns external. Do you use your own CGATReport or the shared one?

[2015-07-31 11:56] IanSudbery commented on #73
Bingo. Thanks.

[2015-07-31 12:07] AndreasHeger commented on #73
Thanks, closing this.

[2015-07-31 12:07] #73 closed, assigned to nobody

[2015-07-31 15:25] IanSudbery opened #74 "pairs_proper_unique_alignments in mapping report"
The mapping pipeline report is trying to find the pairs_proper_unique_alignments column in view_mapping, but there is no such column in the table, nor is it output by bam2stats (i'm pretty such I have the latest version).

[2015-07-31 15:45] AndreasHeger commented on #74
thanks, fixed in 1adee5050fc5cb878cdf13c1c129c44ab3c48171, just pushing the changes.

[2015-07-31 15:45] #74 closed, assigned to nobody

[2015-07-31 20:56] AndreasHeger commented on #59
The index directory is fairly new. I did rearrange the .fa files to remove duplication, please see the CGAT-README file.

I have recreated them (using `make h19.fa`), let us see if they stay.

[2015-08-03 09:13] IanSudbery commented on #59
Sorry, I just twigged something. When I said the 'indexes' directory, I didn't mean `/ifs/mirror/genomes/indexes`, whose existance I wasn't aware of, but rather `/ifs/mirror/genomes/sta`r. I now see that there is now a `hg19.fa` in there which is linked to `/indexes`. My confusion came about because I was building star indexes in the `/star/star_2.4.2_indexes directory`. The `Makefile` in that dir

[2015-08-03 09:14] IanSudbery commented on #54
Yeah, fairly often, to build interpretive meta-reports, or to refer to information from production reports in project pipelines. I've been getting around it so far by replicating the information from [database] in [mapping].

[2015-08-04 12:24] IanSudbery commented on #62
So I added a check for backend="csvdb" and if true added "--quick". Any reason why this might not work?

[2015-08-04 14:15] IanSudbery opened #75 "Error on single end mapping report"
The Status tracker of the mapping report tries to report on the % of pairs mapped. However, if the samples were single ended, there is no pairs_proper_unique in the view_mapping table, and an error is returned.

The code uses self.getValue to get the results, and then checks if value is None. Presumably once upon a time the column was present, but contained NA if if the samples were not paired, bu

[2015-08-05 14:10] IanSudbery commented on #62
When I use "--quick", csv2db.py get stuck in an infinite loop with the error:

[code]

I added code to find out what the error is, but the retcode is 1, which is just SQLITE_ERROR.

[2015-08-11 12:21] AndreasHeger commented on #62
Thanks, fixed this. There was a problem with the column separator.

Currently the method always dumps the whole table before inserting with quick in order to strip comments or if input comes from stdin. Thus --quick for small tables might actually be slower.

Probably best to set it on demand.

[2015-08-11 12:32] AndreasHeger commented on #59
1) Yes, please link to the .fa files in the indexes directory. It is important to work from one .fa file across mappers and fasta files in order to have the exact number of chromosomes. Otherwise, tools like Picard complain.

2) To keep with bwa convention, use the directory /ifs/mirror/genomes/star-2.4.2, rename the old one to start-X.Y.Z and create a link of "star" to the most recent directory.

[2015-08-11 12:34] AndreasHeger commented on #75
Thanks, I will check.

[2015-08-12 09:52] IanSudbery commented on #59
Hmm... Looks like STAR recommends keeping ChrUN and _random, while bowtie recommends removing them. What do people think about this?

[2015-08-12 10:03] TomSmithCGAT commented on #59
Personally, I'm in favour of keeping the ChrUN and _random contigs in the index. Leaving them out risks "forcing" reads originating from these contigs to align to the proerly assembled contigs erroneously. I take it that's the rationale behind STAR's recommendation too?

---

From: Ian Sudbery [notifications@github.com]
Sent: 12 August 2015 10:52
To: CGATOxford/CGATPipelines
Subject: Re: [CGATPipe

[2015-08-12 13:00] AndreasHeger commented on #59
I found the following comment [here](http://homer.salk.edu/homer/basicTutorial/mapping.html)
"""
I also tend to remove the "*_random.fa" chromosomes.  These often contain part of the canonical chromosomes in addition to regions that cannot be placed in the assembly.  The problem with these regions is that the part shared with the canonical chromosome will be present twice, making it difficult to m

[2015-08-12 13:13] AndreasHeger commented on #45
Thanks, can this issue be closed?

[2015-08-12 13:24] #75 closed, assigned to nobody

[2015-08-12 13:24] AndreasHeger commented on #75
Fixed, exception is now caught if there is only single end data.

[2015-08-12 14:09] TomSmithCGAT commented on #59
Umm... I hadn't considered that. The canonical sequence is contained in the "_random.fa" chromosome by accident of misassembly I take it?

---

From: Andreas Heger [notifications@github.com]
Sent: 12 August 2015 14:00
To: CGATOxford/CGATPipelines
Cc: Thomas Smith
Subject: Re: [CGATPipelines] pipeline_mapping & pipeline_rnaseqtranscripts - Fasta references (#59)

I found the following comment hereh

[2015-08-12 14:09] TomSmithCGAT commented on #45
yes, thanks

Dr Tom Smith
CGAT Training Fellow | http://www.cgat.org
MRC Functional Genomics Unit | University of Oxford
+44 1865 285854 | Thomas.Smith2@dpag.ox.ac.uk

---

From: Andreas Heger [notifications@github.com]
Sent: 12 August 2015 14:13
To: CGATOxford/CGATPipelines
Cc: Thomas Smith
Subject: Re: [CGATPipelines] Specifying job_memory for cluster_runnable decorated jobs (#45)

Thanks, can t

[2015-08-12 14:30] #45 closed, assigned to nobody

[2015-08-12 14:35] AndreasHeger commented on #59
I am not sure, and I am not sure if this is true and to what extent, how large the regions are, etc. I did not find any more references to this. Might be worth looking at dotter to get a feel for this.

[2015-08-12 14:54] AndreasHeger commented on #54
@IanSudbery, the solution you have found is the best. Basically, for linked reports, we should use
the "mapping_backend". What needs to change is how to get the the other defaults. The sequence
should probably be:

[code]

This is cumbersome and there might be away to wrap this.

A short-coming of the whole mechanism is that you can only have one database for a particular
tracker. This will cause

[2015-08-13 13:54] AndreasHeger commented on #54
Hi @IanSudbery , new mechanism is outlined [here](https://www.cgat.org/downloads/public/CGATReport/documentation/Advanced.html#using-macros-from-another-cgatreport-document). For example:

[code]

I have not managed to fully tested this, will revisit once I am back from leave.

Best wishes,
Andreas

[2015-08-13 14:52] AndreasHeger commented on #31
Hi @Charlie-George , is still an issue? It seems to work for me.
Best wishes,
Andreas

[2015-08-18 11:53] Charlie-George opened #76 "pipeline_rnaseqtranscripts - nexperiments"
In the buildPrunedGeneSet function  "nexperiments > 1" is used to filter the ab-initio gene set generated by cuffcompare for transfrags "that occur in at least two samples across all of the experiments to remove partial transfrags that are the result of low coverage observations in one sample".

However the nexperiment values (calculated in buildAndLoadFullGeneSetTracking) does not strictly give t

[2015-08-18 12:00] TomSmithCGAT commented on #76
Well spotted! I think we should be filtering on the number of samples in which the transfrag is observed which is what the pipeline is intending to do, e.g. we should filter on the sample_id also.

---

From: Charlie-George [notifications@github.com]
Sent: 18 August 2015 12:53
To: CGATOxford/CGATPipelines
Subject: [CGATPipelines] pipeline_rnaseqtranscripts - nexperiments (#76)

In the buildPrunedG

[2015-08-20 10:57] TomSmithCGAT opened #78 "pipeline_readqc task flow"
The recent changes to pipeline_readqc cause the adapter contamination parsing to occur before fastqc has run on the unprocessed files when using auto detection of contaminating adapters. This creates an empty contaminants.fasta file so no adapter trimming is performed.

The only solution I can see is to return to running Fastqc in two seperate tasks, as previously, so that the first fastqc results

[2015-08-20 12:41] TomSmithCGAT commented on #78
Implemented changes on branch TS-AddKallisto d5faefb59bb01a4d28ddb33174c747e2384973ce
Also changed parsing of contaminants so only sequences with a possible hit are retained

[2015-08-20 12:41] #78 closed, assigned to nobody

[2015-08-20 12:44] TomSmithCGAT commented on #78
Wrong commit.
Changed task workflow in readqc: a008580e25042f0e94c0fb9354cd1e906f7396d5
Changed contamination parsing: 961f0a443d1d997eaa913f3b3967faea028d8e8
Also added Kallisto: 2abfbc9002e43bbb36e6be0ec5defc966c692a1c

[2015-08-21 11:01] IanSudbery opened #84 "Unexplained test failure on branch"
@sebastian-luna-valero I wonder if you could help me out. My branch at 775b8eb passes tests on my local machine, but is failing the import tests on Travis, I can't work out why.

[2015-08-22 16:28] IanSudbery opened #85 "Attributes have different names in different biomart"
Hi All,

The annotations pipeline downloads transcript information from biomart. When building from archived marts some of the attributes have different names than they do in the current marts. For example, the attribute `external_transcript_name`, used for fetching information for the transcript pseudonyms table is spelt `external_transcript_id` in the archives.

[2015-08-25 16:29] sebastian-luna-valero commented on #84
It fails locally for me as well when I run nosetests:

[code]

but I am not sure what is going on here, as the error differs from Travis.

However, it does not complain when I import the code directly from python.

[code]

[2015-09-02 08:18] AndreasHeger commented on #84
Hi both,

the only jobs_limit in pipeline_rnaseqtranscripts I see is:

[code]

The error might be somewhere else?

[2015-09-04 10:30] AndreasHeger commented on #31
Closed for now

[2015-09-04 10:30] #31 closed, assigned to nobody

[2015-09-04 15:47] jscaber opened #86 "Vicious circle in pipeline_mapping.py"
Dear All,
on specifying a regex for merging BAM files, ruffus returns an error (vicious circle in mergeBAMfiles).
I have narrowed this down to the following line:

[code]

This is problematic as MAPPINGTARGETS is the input to mergeBAMFiles (although I don't know why this line didn't cause trouble in the past).

In my own branch, I have replaced this line with:

[code]

This however gets rid of all

[2015-09-04 16:29] TomSmithCGAT commented on #86
This wasn't an issue last time I specified a regex for merging. I've looked in the ruffus release notes and I can see any relevant changes. Can you make the ruffus pipeline plot just to check for certain where ruffus thinks the vicious circle is?

I've discussed just running picard etc on the merged with Andreas before and he was of the opinion that's it's helpful to compare the seperate unmerged

[2015-09-04 17:08] jscaber commented on #86
Voila.
![ruffus40](https://cloud.githubusercontent.com/assets/12160690/9689714/cdd0de00-532f-11e5-8791-99e0ba5bd511.png)

The code also worked for me up to a month ago and that particular line has been unchanged since 2013. I am not sure which recent change resulted in this error, there may well be multiple solutions...

I also attach my regex from pipeline.ini

[code]

[2015-09-04 17:41] TomSmithCGAT commented on #86
Is it  possible your regex leads to merged files with the same name as the unmerged infile? Could you give me an example of the unmerged and merged filenames for a sample

[2015-09-04 17:56] jscaber commented on #86
Thanks.
Regex seems to be working as intended. I ran the identical pipeline.ini and same files a month ago on this pipeline and they worked then.
Example below:

[code]

[2015-09-04 18:03] TomSmithCGAT commented on #86
Could you try it with the following:
pattern_input=(.*)-(\d)
pattern_output=\1

[2015-09-04 18:11] jscaber commented on #86
Same error: "Circular dependencies..."
PS: It's not to do with loadSTARStats btw - if I remove the relevant reference to this, the circular dependency on mergeBAMFiles persists...

[2015-09-04 18:16] TomSmithCGAT commented on #86
Shame, I thought the regex might be to blame. I've gotta head off. If Andreas doesn't sort it in the blink of an eye, I'll have another fumble around next week. I guess for now you can use your branch until we work out what's going on.

[2015-09-05 00:01] IanSudbery commented on #86
I think the problem is that the post merge names also match the merge
pattern.

Sent from my iPad

On 4 Sep 2015, at 18:09, Jakub Scaber notifications@github.com wrote:

Voila.
[image: ruffus40]
https://cloud.githubusercontent.com/assets/12160690/9689714/cdd0de00-532f-11e5-8791-99e0ba5bd511.png

The code also worked for me up to a month ago and that particular line has
been unchanged since 2013. I

[2015-09-05 11:01] TomSmithCGAT commented on #86
Yeah that's what I thought. Looks like I messed up the regex too though. These should work...

pattern_input=(.*)-(\d+)-(R\d)-(\d)
pattern_output=\1-\2-\3

[2015-09-05 22:25] jscaber commented on #86
Thanks. No difference in the error message. The regex is similar my original regex, but more explicit. It may be difficult to imagine an output name that would not match the merge pattern partially?
I will keep looking for solutions...

[2015-09-11 10:54] jscaber commented on #86
I played around with trying to untangle MAPPINGTARGETS.
Turns out the following works without creating a circular dependency:

[code]

A very uneducated guess: I woder if `MAPPINGTARGETS.append(mergeBAMFiles)` forces the function itself into the list. Could this be a change in syntax processing by a new version of ruffus/python?

In any case, the new code does what it's supposed to do: all subsequ

[2015-10-05 10:42] katherinef opened #92 "Moving reports to new locations"
Dear all,

I have a password protected folder in my web folder for publishing sensitive information for collaborators.  However, I can't publish directly to this folder using CGAT pipelines and instead I publish as normal then copy and paste the report to the secure folder.  The issue is that when I delete the original report in the non-secure web folder the report in the secure folder no longer w

[2015-10-05 11:54] AndreasHeger commented on #92
Hi Kath,

publishing a report entails changing the URLs. This is currently implemented with absolute paths, but should better be done with relative paths.

I will look into this.

Best wishes,
Andreas

[2015-10-05 13:18] AndreasHeger commented on #92
Hi Kath,

can you tell me exactly what does not work? Is it excel spreadsheets?

Best wishes,
Andreas

[2015-10-06 19:42] #86 closed, assigned to nobody

[2015-10-08 12:13] TomSmithCGAT opened #93 "_pickle_args function not available in Execution.py namespace"
Only just pulled the updates to Pipeline.py When I run a cluster_runnable function I now get the following error:

`File "/ifs/devel/toms/CGATPipelines/CGATPipelines/Pipeline/Execution.py", line 818, in submit_function
submit_args, args_file = _pickle_args(args, kwargs)
NameError: global name '_pickle_args' is not defined`

_pickle_args is defined in Pipeline.py._init_.py and not used anywhere els

[2015-10-15 12:20] IanSudbery opened #96 "Database configuration in ini files"
Hi Guys,

We have moved the location where the database name is specified so that we now specify it:

[code]

but all of the standard pipeline.ini files still specify it

[code]

The standard ini's need to be updated. I can do it something, but I'm really busy teaching for the next couple of weeks.

[2015-10-15 12:24] TomSmithCGAT commented on #96
Hi Ian,

We've got a scrum on Monday/Tuesday so we can sort this then.

Cheers

[2015-10-19 11:04] MikeDMorgan opened #97 "SCRUM - PARAM variables in docstrings"
An issue arises of how to define variables from pipeline.ini files inside the pipeline tasks, even though they are not passed as direct function arguments.  A proposed solution is to define them in the `Parameters` section of the docstring, and define their `type` as `PARAMS`.  For example:
    '''
    Parameters
    ---------------
    my_param_variable_name: PARAMS
        `my_param_variable_nam

[2015-10-19 12:12] Charlie-George opened #98 "SCRUM - pipeline_rnaseqdiffexpression.py"
CUFFDIFF_LEVELS are currently hard coded (line 337) - should this be set in ini file?

[2015-10-19 12:30] Charlie-George opened #99 "[database] section should now be automatically generated with pipeline config"
Generating by default:

[code]

added to `pipeline.ini` file

[2015-10-19 12:38] TomSmithCGAT opened #100 "SCRUM - pipeline_mapping.py buildReferenceGeneSet should make one call to PipelineMapping module"
The pipeline_mapping.py task buildReferenceGeneSet makes two calls to the PipelineMapping module file. It appears the two module functions should be combined into a single function

[2015-10-19 13:52] haniap opened #101 "scrum - SPP is obsolete"
Should we drop the SPP peak caller from peak calling pipeline as this is now an R package that has become obsolete?

[2015-10-19 14:32] MikeDMorgan opened #102 "SCRUM - pipeline_annotations:: downloadDistiLD messy output"
currently the `downloadDistiLD` function separately downloads the two annotation files for GWAS SNPs and HapMap LD blocks with assigned SNPs and gene annotations.  The function uses the log file as the `outfile`.  The next function, `buildDistiLDTracks` then snips off the log file suffix to separately convert the SNP file and LD block file.  The multiple files should be handled by ruffus and allow

[2015-10-19 14:34] david-cgat opened #103 "SCRUM - IDR functions in pipeline_peakcalling"
This is redundant with pipeline IDR. Should they be removed?

[2015-10-19 14:35] david-cgat opened #104 "SCRUM - mapping QC funstions in pipeline_peakcalling"
Redundant with pipeline_mapping. Should be removed?

[2015-10-19 14:37] david-cgat opened #105 "PipelinePeakcalling.py - direct use of parameters in pipeline.ini"
runMACS uses macs_options parameter that is not passed explicitly to the function

[2015-10-19 15:32] Charlie-George opened #106 "SCRUM - pipeline_rnaseqdiffexpression.py runCufflinks"
runCufflinks function in pipeline_rnaseqdiffexpression.py  uses cufflinks_options, genome_dir and library_type parameters that are not explicitly passed to the function

[2015-10-19 16:07] haniap commented on #105
Same thing occurs with runZinba - again the parameters are not passed explicitly to the function

[2015-10-19 16:55] TomSmithCGAT opened #107 "SCRUM - Unused export functions in pipeline mapping"
Pipeline mapping includes functions to make various file formats from the alignments (bigwig and bed files) and to write a sample file for IGV. Some of these functions are never run from any target in the pipeline (`buildBed`, `buildIGVSampleInformation`), others are run only from the export target and not the full (`buildBigWig`, `loadBigWigStats`). Propose all task should be run from target `exp

[2015-10-20 08:47] TomSmithCGAT commented on #93
Done: ee8cab74a0b9370cad18154b8f001636558cd1e9

[2015-10-20 08:47] #93 closed, assigned to TomSmithCGAT

[2015-10-20 08:57] TomSmithCGAT commented on #100
Actually, the first function is PipelineMapping.mergeAndFilterGTF which is used in other pipelines, the second function is PipelineMapping.resetGTFAttributes which is only called in pipeline_mapping. Propose new PipelineMapping function buildCuffCompatibleGTF which calls mergeAndFilterGTF and then runs code from resetGTFAttributes to call cufflinks

[2015-10-20 09:11] Charlie-George opened #109 "SCRUM - pipeline_rnaseqdiffexpression.py: buildCodingExons not used"
This function is never used within this pipeline.

[2015-10-20 09:12] Charlie-George opened #110 "SCRUM - pipeline_rnaseqdiffexpression.py: buildUnionIntersectionExons not used"
This function is never used within the pipeline.

[2015-10-20 09:16] Charlie-George opened #111 "SCRUM - pipeline_rnaseqdiffexpression.py: buildUnionExons not used"
This function is never called within the pipeline.

[2015-10-20 11:44] Charlie-George opened #112 "SCRUM - pipeline_rnaseqdiffexpression.py GeneLevelReadCounts"
Comments in the aggregateGeneLevelReadCounts  function

[code]

Does this need for paramterisation also apply to the other GeneLevelReadCounts functions?

[2015-10-20 11:46] Charlie-George opened #113 "SCRUM - pipeline_rnaseqdiffexpression.py buildGeneLevelReadExtension"
This function does not seem to be part of the pipelined tasks
- is it used for report building or can it be removed?

[2015-10-20 12:50] Charlie-George opened #114 "SCRUM - pipeline_rnaseqdiffexpression.py buildTranscriptLevelReadCounts & loadTranscriptLevelReadCounts"
This set of functions do not seem to be part of the pipelined tasks. Are they used for report building or can they be removed from this pipeline?

[2015-10-20 14:07] KatyBrown opened #115 "PipelineRnaseq loadCuffdiff and pipeline_rnaseqdiffexpression loadCuffdiff"
min fpkm threshold is not provided by pipeline_rnaseqdiffexpression to PipelineRnaseq, so the default of 1.0 is always used.

[2015-10-20 14:51] Charlie-George opened #116 "SCRUM - pipeline_rnaseqdiffexpression.py summarizeCounts"
It contains a:

[code]

but it will need to be revisited as it is not clear whether this task needs so much memory.

[2015-10-22 16:22] Charlie-George opened #118 "Pipeline_annotations.py - Generation of geneses_all automatically excludes non-standard contigs"
geneset_all.gtf.gz only contains chr 1-22 + XY even when there are no contigs set for removal in the pipeline ini.

It would be useful to have the Mt genes and those on unknown contigs for some analysis but these get filtered because the UCSC and ensembl naming patterns do not match up. This is because gff2gff.py only adds "chr" before the chr id from the ensembl gff, where as the UCSC names are m

[2015-10-26 10:07] AndreasHeger commented on #96
I have removed all these statements.

[2015-10-26 10:34] AndreasHeger commented on #118
Thanks, the mitochondrial genes should be in there (as chrM).

The mapping between different chrosome names actually happens in IndexedFasta.py. IndexedFasta accepts a list of synonyms that can be added to the index, see for example:

[code]

I would prefer explicit over implicit via a regex.

[2015-10-28 15:36] IanSudbery opened #120 "Backwards compatibility and changelogs"
I've recently noticed that the mapping classes no longer automatically pick up mapping options from the ini files, but require them to be explicitly passed when building the Mapper object.

This seems to be contrary to the documentation, which states

[code]

More importantly, there used to be an expectation that when changes were made, old code would continue to function as before wherever possib

[2015-11-02 17:29] #96 closed, assigned to TomSmithCGAT

[2015-11-03 17:56] IanSudbery commented on #96
Erm, shouldn't the ini files contain a

[code]

section?

[2015-11-09 11:14] AndreasHeger commented on #120
Thanks, I think the statement still holds, which mapper do you refer to? For example, for bwa we have:

[code]

I.e. bwa_aln_options and bwa_sampe_options will be inserted from the configuration file?

[2015-11-09 17:39] IanSudbery commented on #120
Hi Andreas,

Hmmm… okay, this seems to be a bowtie specific problem. Which is odd,
because the tool_options parameter has been added to the Mapper class
**init**, but appears to only be used by the Bowtie class. Looks like
someone intended to change things over, but never got finished.

In Bowtie.mapper:

statement = '''

[code]

Ian

_From:_ Andreas Heger [mailto:notifications@github.com]
_Sent:_

[2015-11-16 10:50] AndreasHeger commented on #120
Looks like this was me, I will revert this.

[2015-11-16 12:26] TomSmithCGAT opened #123 "Simulation in pipeline_transcriptdiffexpression.py should use tpm estimates"
Currently, the simulations in pipeline_transcriptdiffexpression.py uses ground truth counts and estimated counts for the accuracy metrics. This would be better as transcripts rather than counts. To do this, the fasta2fastq rna-seq simulation read generation needs to be done at the transcript level rather than counts level.

[2015-11-23 15:29] TomSmithCGAT opened #125 "Generate sample overlaps plot/tables"

[2015-11-23 15:29] TomSmithCGAT opened #126 "Generate annotation context plot/table"

[2015-11-23 15:29] TomSmithCGAT opened #127 "Generate sample heatmaps"

[2015-11-23 15:29] TomSmithCGAT opened #128 "Generate expression distribution plot"

[2015-11-23 15:29] TomSmithCGAT opened #129 "Generate PCA"

[2015-11-23 15:32] TomSmithCGAT opened #130 "testing asana integration"
testing asana integration

https://app.asana.com/0/65854453167348/68241679822116

[2015-11-23 15:33] TomSmithCGAT opened #131 "Test asana integration"

[2015-11-23 15:33] TomSmithCGAT commented on #127
Tracker written, need to test in restructured text document.

[--- Commented from Asana.com
#commenter Mike Morgan
---[aa]

[2015-11-23 15:51] #131 closed, assigned to nobody

[2015-11-23 17:10] #130 closed, assigned to nobody

[2015-11-23 17:10] TomSmithCGAT opened #132 "testing asana integration2"
testing testing...
#68302095044509

[2015-11-23 17:11] TomSmithCGAT opened #133 "Add design attributes to sample_data"

[2015-11-23 17:12] TomSmithCGAT commented on #132
testing testing
#66212076157781

[2015-11-23 17:21] TomSmithCGAT commented on #132
testing testing
https://app.asana.com/0/65854453167348/66212076157781

[2015-11-23 17:36] TomSmithCGAT commented on #128
Sorry Kath, this was opened automatically by Asana and I can't close it now or it'll complete the Asana task too!

[2015-11-23 17:37] TomSmithCGAT commented on #129
Sorry Charlie, this was opened automatically by Asana and I can't close it now or it'll complete the Asana task too! Please Close when the Asana task is complete

[2015-11-23 17:45] #132 closed, assigned to nobody

[2015-11-25 14:55] #127 closed, assigned to MikeDMorgan

[2015-11-25 18:25] TomSmithCGAT opened #134 "Add rst for MDS"

[2015-11-25 18:25] TomSmithCGAT opened #135 "Check report builds with MDS and Heatmap rsts"

[2015-11-26 11:25] IanSudbery opened #136 "Adding new pipelines"
Hi All,

I'd like to add my iCLIP and 4C pipelines from CGAT Projects 28 and 14 to the repository and integrate them with the testing framework. What do I need to do to do this?

In addition both pipeline, but particularly the iCLIP one, come with quite a lot of accessory algorithmic code. This is both in the form of a general iCLIP module, and a specific  PipelineiCLIP module, as well as a number

[2015-12-01 17:55] #134 closed, assigned to TomSmithCGAT

[2015-12-07 11:40] TomSmithCGAT opened #138 "Contents page"
Contents
Pipeline overview
Aim of Report
Disclaimer –  it’s a rough look, not publication quality figures  

What pipeline does
Inputs
Outputs
What    programs/dependancies it uses
What pipeline will tell you in each section

We dicussed that it would be nice to have a table of samples and tick/crosses as to weather they passed each section – but this may be hard to do where thesholds are subjecti

[2015-12-07 11:40] TomSmithCGAT opened #139 "Methods and experimental design page"
Experimental    Design
What samples
What groups
Design table
What are the inputs
Gtf from where?
Which genome    etc
Some discussion of whether any of this can this be generated from ini file/pipeline log files?
Overview of pipeline - what steps run?

[2015-12-07 11:40] TomSmithCGAT opened #140 "Make first example figure page"
Once https://app.asana.com/0/65854453167348/71309252081563 is complete. Use the template to make an example page of figures

[2015-12-07 11:40] TomSmithCGAT opened #141 "Make template RST"
All the pages presenting individual analyses should have the same format. First step - make a template/boiler plate RST and agree on layout.

[2015-12-07 11:55] TomSmithCGAT opened #142 "5'-3' bias"

[2015-12-07 11:55] TomSmithCGAT opened #143 "Saturation curve for number of transcript detected"
This requires sailfish (or other alignment free quantification tool) to be run on decreasing subsets of a single sample. The tracker should then use a threshold for transcript presence to determine the number of transcripts detected in each subset. Ideally, we would fit a curve to demonstrate whether transcripts detected was saturated at actual sequence depth

[2015-12-07 11:55] TomSmithCGAT opened #144 "GC bias"
(And other sequence biases) This is already in the pipeline but needs reworking to fit the new format

[2015-12-07 12:04] TomSmithCGAT opened #145 "AsanaTesting"

[2015-12-07 12:06] #141 closed, assigned to MikeDMorgan

[2015-12-07 12:07] #138 closed, assigned to nobody

[2015-12-07 12:07] #139 closed, assigned to nobody

[2015-12-07 12:07] #140 closed, assigned to nobody

[2015-12-07 12:07] #142 closed, assigned to nobody

[2015-12-07 12:07] #143 closed, assigned to nobody

[2015-12-07 12:07] #144 closed, assigned to TomSmithCGAT

[2015-12-07 12:07] #145 closed, assigned to nobody

[2015-12-07 12:07] #123 closed, assigned to TomSmithCGAT

[2015-12-07 12:07] #125 closed, assigned to Acribbs

[2015-12-07 12:07] #126 closed, assigned to nobody

[2015-12-07 12:07] #128 closed, assigned to nobody

[2015-12-07 12:07] #129 closed, assigned to Charlie-George

[2015-12-07 12:07] #133 closed, assigned to AndreasHeger

[2015-12-07 12:07] #135 closed, assigned to TomSmithCGAT

[2015-12-07 18:35] jaime11 commented on #85
Hello,

I am also having this problem too:

R
library(biomaRt)
mart = useMart(biomart="ENSEMBL_MART_ENSEMBL", host="www.ensembl.org", dataset="mmusculus_gene_ensembl")
listAttributes(mart)[grep("external",listAttributes(mart)$name),]
                                name                  description
18                external_gene_name         Associated Gene Name
19              external_gene_sour

[2015-12-11 14:10] IanSudbery opened #149 "Typo in pipeline_annotations"
In pipeline annotations, the loadTranscriptStats task header says

[code]

This turns buildExonTranscripts and  "ensembl.dir/transcript_stats.load"  into
                (buildCDSTranscripts and "ensembl.dir/cds_stats.load"

when what we want is to turn  buildExonTranscripts into  "ensembl.dir/transcript_stats.load" and
     buildCDSTranscripts into  "ensembl.dir/cds_stats.load".

Pull request inc

[2015-12-14 13:59] AndreasHeger commented on #136
Hi Ian,

how about in the first instance adding them as a separate repository under the project name? See
for example the repository proj029 that Nick created.

Best wishes,
Andreas

[2015-12-14 17:44] IanSudbery commented on #136
Sure. Sure repositories already exist, they are just not on github. I'll push them up, so that others can get access to the code.

[2015-12-15 10:19] jscaber commented on #136
Dear Ian,
many thanks for that - I'd be very keen to start using that pipeline with some external iCLIP data that I want to compare to my existing RNAseq - let me know when you get round to pushing the repository.
Best wishes,
Jakub

[2015-12-15 14:54] #149 closed, assigned to nobody

[2015-12-15 14:56] IanSudbery commented on #84
The reason for this is that I had set a db limit of 1 in my `.cgat`

The gulty line should not be hardcoding a job limit of "10" but fetching it from the PARAMS. Now fixed.

[2015-12-15 14:56] #84 closed, assigned to nobody

[2015-12-15 16:03] IanSudbery commented on #136
See new pipeline_iCLIP repository.

[2016-01-13 16:25] sebastian-luna-valero opened #158 "conda problem on Travis"
Travis installation is currently failing due to an issue with conda reported here:
https://github.com/conda/conda/issues/1952

Will keep an eye on it.

[2016-01-14 11:07] TomSmithCGAT opened #159 "Modifiying temporary file name suffixes with P.getTempFilename()"
P.getTempFilename() currently generates temporary file names without suffixes. IOTools.openFile() uses the suffix to identify compressed files. The following therefore results in IOTools.openFile() failing to recognise that the file is compressed.

[code]

One can simply append the neccessary suffix to the temporary filename, e.g

[code]

but then the temporary file created by P.getTempFilename()

[2016-01-15 17:38] sebastian-luna-valero commented on #158
Fixed now.

[2016-01-18 11:46] AndreasHeger opened #161 "Avoid creating large, uncompressed SAM files in intermediate steps"
The old bwa mapper creates a large SAM file as an intermediate step. This causes /scratch to fill up.

Check if newer bwa can create/read from BAM.

[2016-01-18 16:00] AndreasHeger commented on #161
Closed by  6ffb088

[2016-01-18 16:00] #161 closed, assigned to nobody

[2016-01-18 16:24] AndreasHeger commented on #159
Done, see c21f954

[2016-01-18 16:24] #159 closed, assigned to nobody

[2016-01-25 10:31] IanSudbery opened #168 "Dynamic resource estimation"
Currently we have several places where the amount of memory required by a job is dependent on the size of the input files, which in turn are dependent on the project. Whenever somebody runs a pipeline where the currently assigned memory is insufficient, they increase the memory requirements for that job in the pipeline.

The result of this is that for the resource requirements for any given task a

[2016-01-25 10:44] TomSmithCGAT commented on #168
I came across exactly this issue when writing the pipeline a new pipeline for alignment-free transcript quantification and differential expression analysis (pipeline_transcriptdiffexpression.py) as Sleuth's memory usage is dependent upon the number of transcripts, samples and bootstraps. The pipeline therefore determines the Sleuth memory usage without any user input.

My preference would be to ge

[2016-01-25 10:57] AndreasHeger commented on #168
Yes, that would be a good thing to do. Given that most of the memory requirements grow linear with number of reads, read length, etc., maybe it can be supported by a simple function such as:

[code]

with min_memory = minimum memory to use if file size is min_size or smaller, max_memory = maximum memory to use if file is max_size or larger and interpolated in between.

[2016-02-27 00:43] snsansom opened #174 "Problematic issue with generation of non-shared temporary files"
Looking at P.getTempFilename() in CGATPipelines/Pipeline/File.py consider:
- A user runs a pipeline on head_node
- A "to_cluster=yes" task does "tmp_file = P.getTempFilename()"
- P.getTempFilename() will safely write a temporary file in PARAMS["tmpdir"] _on the head_node_! and return the name to the python variable.
- The job goes to the cluster
- The user will inadvertently write an unsafe (i.e.

[2016-02-27 15:41] snsansom commented on #174
'local_tmpdir' added to CGATPipelines/Pipeline/Parameters.py.

See:
https://github.com/CGATOxford/CGATPipelines/commit/49dfd998e32728c1aa5c805e1d77e001158694b1

Note that PARAMS["local_tmpdir"] is intended to be directly passed to the job script as follows:

Please do not reference in task python code or portability will likely be broken!

I suggest depreciating use of PARAMS["tmpdir"] and re-writ

[2016-02-29 09:27] AndreasHeger commented on #174
Hi @snsansom , I am not sure why local_tmpdir is required? This is exactly what tmpdir is!

Yes, the temporary file gets created on the head-node, but this means that within a CGAT environment, temporary files are unique across the cluster, which is an even stricter requirement
than being unique on a node. The `ctmp` prefix ensures that there is no conflict with other tools creating a temporary fi

[2016-02-29 13:03] snsansom commented on #174
The difference is that "local_tmpdir" is not meant to be evaluated on the head node.

In our setup, a SLURM prolog makes a per-job scratch dir on the execution node and sets it in an environment variable. It is necessary therefore to pass this straight through to the job statement in the way described above.

If I used "tmpdir" for this purpose i.e. PARAMS["tmpdir"]=$SCRATCH_DIR all existing refer

[2016-02-29 14:15] AndreasHeger commented on #174
Thanks. Providing a job-specific tmp dir is a good solution and I see the need to feed the environment variable to job scripts.

I am worried that we now have two ways to use temp files. Does the following not work out-of
the box?

[code]

This would be the proper solution and new tasks should be written as such.

In the current solution, temporary names are all handled by the head-node, hence I w

[2016-02-29 14:35] snsansom commented on #174
Thanks.

Your statement is correct for new pipelines, but all existing references to P.getTempFile() (and there are a lot in CGATPipelines!) would trip over when passed e.g. "$SCRATCH_DIR" on the head node*

Currently if a tmpfile is cleaned up the head node but not on the execution node (I am sure this happens frequently) are you not open to name space collision?

Here our solution for cleaning u

[2016-02-29 14:42] AndreasHeger commented on #174
I see, I am getting there. Ok, let us do both.

If two pipelines are running concurrently, they will coordinate tempfiles via the head node and there should be no conflict. If one pipeline has finished, but failed to clean up, and another job by chance gets the same temporary filename, then the existing tmpfile will simply be overwritten, but nobody will be missing its contents.

I fully admit tha

[2016-02-29 14:44] snsansom commented on #174
For reference this is the nub of the issue ($SCRATCH_DIR set and exported in bash):

`>>> tempfile.NamedTemporaryFile(dir="$SCRATCH_DIR")
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/gfs/apps/apps/python-2.7.11/lib/python2.7/tempfile.py", line 475, in NamedTemporaryFile
    (fd, name) = _mkstemp_inner(dir, prefix, suffix, flags)
  File "/gfs/apps/apps/python-2.

[2016-02-29 14:46] snsansom commented on #174
Cool thanks for taking the time to go through it. If CGAT moves to SLURM I'll be happy to share our setup.

[2016-02-29 14:48] #174 closed, assigned to nobody

[2016-03-15 14:48] sebastian-luna-valero commented on #158
Reopening this issue with:
https://github.com/conda/conda/issues/2241

[2016-03-16 09:37] sebastian-luna-valero commented on #158
Fixed now.

[2016-03-16 09:37] #158 closed, assigned to sebastian-luna-valero

[2016-03-30 10:06] jscaber opened #191 "Adding Picard RnaSeqMetrics to Mapping Pipeline"
While the RNASeqQC Pipeline provides a rough estimation of RNASeq biases, I thought it might be useful to implement the picard RNASeqQC metrics in the mapping pipeline, to give a more quantifiable/numerical assessment of biases that can then be used for downstream analysis. Please let me know if you support/object this addition, and I will start implementing it in a similar manner as other picard

[2016-03-30 10:15] MikeDMorgan commented on #191
Given this is specific to RNAseq I suspect it would be better to implement this properly in the RNAseq QC pipeline, rather than introduce a protocol/method specfic task in to the generic mapping pipeline.

[2016-03-30 10:17] TomSmithCGAT commented on #191
I'd agree except that we're only mapping a subset of reads so the Picard metrics will be very inaccurate. The mapping pipeline already performs some tasks only when using a spliced aligner so it wouldn't make it any less generic.

[2016-03-30 10:29] jscaber commented on #191
I like that solution & it would does make sense to combine the picard tools in the already available MappingQC module. Making the function/method splice dependent might not cater for the few occasions where RNASeq is done on an unspliced genome? I'm open to both avenues.

[2016-03-30 10:47] TomSmithCGAT commented on #191
I don't think the Picard tool is suitable when you have an unspliced genome. Many of the stats relate to intronic reads etc.

[2016-03-31 09:58] jscaber commented on #191
May I make a change to the pipeline_mapping pipeline.ini?
The Picard RNASeqMetrics function requires information on strandedness. It would make sense to add this to the general options. We also have three mappers in the pipeline that require strandedness (hisat and tophat 1/2).
I would remove the strandedness option from the tool-specific options and add it to the pipeline.ini general options and

[2016-03-31 10:05] TomSmithCGAT commented on #191
This seems like a good idea to me.

The user would optionally provide strandedness under the "general" section and the mappers would take the strandedness parameter and convert it to the correct strandedness option. Is that right?

Take care with the tool specific strandedness options. They sometimes seem a bit backwards!

[2016-03-31 10:16] jscaber commented on #191
They are indeed & I would appreciate someone checking the commit once it's ready.
I will put a also put a detailed explanation in the pipeline.ini.

[2016-03-31 10:21] TomSmithCGAT commented on #191
Very happy to check (I'll need to re-read the relevant sections of the manuals again though!)

[2016-03-31 10:49] Charlie-George commented on #191
Sounds great, it might be good to include this link in the ini as a reference - as it's by far the best explanation of the different libraries that I've come across.
http://sailfish.readthedocs.org/en/master/library_type.html

[2016-04-04 17:02] #191 closed, assigned to nobody

[2016-04-12 12:03] TomSmithCGAT opened #198 "Peakcalling class"
@MikeDMorgan . I've started building a peakcaller class. See 6695ab7. For testing purposes, I'm using the pipeline_peakcalling test data and hardcoding the infile, outfile in the pipeline (see `/ifs/home/toms/testing_area/peakcalling_scrum/test_peakcalling.dir`)

In the last meeting, Andreas suggested it would be best if the all the necessary code was run in a single statement(s) to keep it on a s

[2016-04-13 08:13] MikeDMorgan commented on #198
That all looks very reasonable.  If there is working code in the current peakcalling pipeline we can re-use then I think we should for the postProcess method.

[2016-04-19 17:55] snsansom opened #201 "pipeline xxxx.py config default behaviour change"
I see that now "general_path" has replaced "pipeline_path" for the conf.py location:

`def writeConfigFiles(pipeline_path, general_path):
    '''create default configuration files in`path`.
    '''

[code]

Thus breaking all existing non-CGATPipeline pipelines that rely on Pipeline/Control.py -  is this really intentional?

[2016-04-28 13:29] Charlie-George opened #203 "pipeline _readqc report failure"
using build_report fails to build the report or even create the report directory for the readqc pipeline and I can't track down the error. This happens in several different projects I've tried it in and in projects where it worked fine 10 days ago.

The pipeline.log output is:
## 2016-04-28 14:08:30,962 INFO Tasks which will be run:
#2016-04-28 14:08:30,962 INFO
#2016-04-28 14:08:30,963 INFO
## 20

[2016-04-28 13:52] MikeDMorgan commented on #203
I've noticed the same this with pipeline_readqc.py, and it also applies to pipeline_mapping.  The CGATreport.log only contains a single line:
`2016-04-28 14:46:18,758 INFO initialising plugins`

@AndreasHeger is this CGATReport or SphinxReport?

[2016-04-28 13:58] jscaber commented on #203
I agree, it applies to all pipeline reports.
My guess is it's got to do with our local python installation:
There is an infinite loop and hence the `RuntimeError: maximum recursion depth exceeded`
It hangs here:

[code]

The last line is run >1000 times in my report.log

[2016-04-28 14:00] MikeDMorgan commented on #198
I can't see any major issues with the additional postprocessing.  I'm yet to test it though, I'l take a look when I'm in the office tomorrow.

[2016-04-28 14:21] AndreasHeger commented on #203
Hi,

probably something I messed up. Will take a look tonight and fix
the install.

Best,
Andreas

On 28/04/16 14:58, Jakub Scaber wrote:

[2016-04-28 14:35] logust79 commented on #203
I think it was me. Sebastian had similar issue after finding out that somehow I messed up the central python copy. Although I already forgot what I did!

Sorry
Jing

Sent from my iPhone

[2016-04-28 14:50] AndreasHeger commented on #203
Did you type python setup.py develop or install outside your virtual
environment?

Best wishes,
Andreas

On 28/04/16 15:35, logust79 wrote:

[2016-04-28 14:57] logust79 commented on #203
It turns out that I never used my virtual environment due to a missing line in my bashrc, and I never realised this until now.

Jing

Sent from my iPhone

[2016-05-09 16:14] AndreasHeger commented on #201
Hi @snsansom, this might be a side-effect of cleaning up conf.py's in the repository. Previously, these were all supposed to be links to the standard conf.py in the configuration directory, but had become instantiated and thus created >20 copies of the same file. I removed the extra files and instead of collecting through a link I set the location of the directory within the repository directly.

[2016-05-09 23:13] logust79 opened #204 "pipeline_exome"
- Smart bam files merging (1 lane per sample doesn't need to spend time on merging)
- Optional bam indel realign (skip by default, as suggested by GATK best practice)
- Need to solve racing problem
- Optional hard filter for limited sample sizes (<30. Ideally sample-size aware)
- VQSR needs to be done before any annotations
- Add VEP to annotations

[2016-05-12 17:13] sebastian-luna-valero commented on #203
Thanks @AndreasHeger  for the fix!

[2016-05-12 17:13] #203 closed, assigned to nobody

[2016-06-01 20:54] snsansom commented on #201
Hi Andreas, thanks for the comments and consideration #209 helps a lot.

The case where I still have issues is where I am using the Pipeline module essentially independently of the rest of the CGATPipelines in projects which do not have a conf.py.

In those instances it's easy enough to touch a conf.py and the issue goes away.

In general I find the Pipeline module _super-useful_ - I could see val

[2016-06-10 09:20] MikeDMorgan opened #214 "Pipeline_annotations naming conventions for Ensembl versions >= 80"
Due to the changes in Ensmbl information previously located in the <source> field, some feature names have become uninformative in the pipline_mapping.py context_stats table.

For instance, there no longer exists a single field "protein_coding", but the uninformative set of field names ensembl_havana, ensembl_havana_ensembl, havana_ensembl, havana_ensembl_havana, _ad infinitum_.

It's a hacky solu

[2016-06-15 14:58] Charlie-George opened #215 "pipeline_quickstart.py"
I'd like to set up a project specific pipeline  - has the way to do this changed?

pipeline_quickstart.py is no longer in the CGATPipelines directory.

Thanks

[2016-06-15 15:13] Charlie-George commented on #215
Ah it's in scripts - sorry!

[2016-06-15 15:13] #215 closed, assigned to nobody

[2016-06-17 17:45] TomSmithCGAT opened #216 "SRA extract fails for SOLID data"
When a .sra file contains SOLID data, fastq dump extracts a single fastq instead of a fasta and separate quality file as required for some downstream tools (e.g Tophat2). Propose adding option to use abi-dump to SRA.py and auto-detecting datatype in SRA.peek()

[2016-06-17 17:46] #216 closed, assigned to TomSmithCGAT

[2016-06-17 17:46] TomSmithCGAT commented on #216
Wrong repository!

[2016-06-17 18:10] TomSmithCGAT opened #217 "SRA extraction for SOLID data is not compatable with TopHat"
When extracting SOLID data from SRA for Tophat, need to use abi-dump not fastq-dump (see http://seqanswers.com/forums/showthread.php?t=44333) and retain quality files. Currently, following sra extraction, there is no attempt to detect whether the data is SOLID.

Propose check for SOLID data within SRA and then append correct fastqs to retain quality scores for downstream mapping.

[2016-06-17 18:11] TomSmithCGAT commented on #217
See 1022967.

Currently no check to make sure the downstream mapper can handle SOLID data. Should probably incorporate this at this stage in pipeline_mapping to avoid waiting for SRA extraction to complete and then working it out from the mapper log file?

[2016-06-22 09:30] dcdanko opened #218 "Time is not imported in Cluster.py"
File "/gfs/devel/ddanko/CGATPipelines/CGATPipelines/Pipeline/Execution.py", line 529, in run ignore_errors=ignore_errors)
File "/gfs/devel/ddanko/CGATPipelines/CGATPipelines/Pipeline/Cluster.py", line 260, in collectSingleJobFromCluster stdout, stderr = getStdoutStderr(stdout_path, stderr_path)
File "/gfs/devel/ddanko/CGATPipelines/CGATPipelines/Pipeline/Cluster.py", line 292, in getStdoutStderr t

[2016-07-11 12:10] AndreasHeger commented on #201
@snsansom , thanks, I think the fellows are planning to do this as the next project.

I am closing the issue for now.

[2016-07-11 12:10] #201 closed, assigned to nobody

[2016-07-18 12:25] IanSudbery opened #229 "Many statements in Mapping classes not seperated by checkpoints"
What it says in the title!

i.e. Star post process

[code]

If the first samtools command fails, because, for example the samtools syntax changes (again), this will not raise an error.

All bash statements should be seperated by calls to checkpoint

E.g. from the above:

[code]

[2016-07-18 12:26] IanSudbery commented on #229
I'm happy in theory to work on the solution to this, but not right now as I'm off on holiday.

[2016-08-04 09:52] IanSudbery opened #232 "CRAM intergration"
Has anyone been thinking about modifications to allow CRAM compatibility (i.e. CRAM output from the mapping pipeline, CRAM input to the transcript assembly and quantitation pipelines etc)?

Stripping sequencing from BAM files does result in a huge storage space gain, but on so many occasions it has turned out that we are actaully intrested in keeping the sequence - sequencing stripping is not loss

[2016-08-04 16:38] IanSudbery opened #233 "Transparent access to data repositories"
Create routines that automate the downloading and processing of remote data from data repositories. This issue will serve as a summary of work done, preliminary documentation, and proposals.
# Requirements

Reprocessing data from large consortia can often involve the downloading, renaming and storeing of a large number of large data files. This is both tedious, error prone and can take a very larg

[2016-08-04 16:39] IanSudbery commented on #233
branch sudlab/CGATPiplines/IS_remote_access and sudlab/cgat/IS_remote_access_upstream_ready have the first impementations of this.

[2016-08-05 13:47] Charlie-George opened #240 "SCRUM - PipelinePeakcallingScrum"
Alot of the MACS2 output is renamed/reformatted - is this required? it makes it very hard to track expected macs2 output should be compared to what is documented in the macs2 manual

[2016-08-05 13:50] Charlie-George opened #241 "SCRUM - pipeline peakcalling scrum"
conversion of macs2 output summits file to sub peaks file creates a 'height' collumn - the entry in this column is in fact a filename converted into an integer

[2016-08-09 11:10] snsansom commented on #240
Hi Charlie,

I just submitted some fixes to PipelinePeakcalling to get macs2 to work for a ChIP-seq project (https://github.com/CGATOxford/CGATPipelines/pull/243) and then noticed this comment...

In general the purpose of this pipeline compared to pipeline_chipseq is perhaps a little unclear. Is it correct that the standard CGAT workflow for ChIP-seq analysis now pipeline_peakcalling + pipeline_i

[2016-08-09 12:55] Charlie-George commented on #240
Thanks Steve that really helps!

Your right the standard CGAT workflow at the moment is  pipeline_peakcalling + pipeline_intervals and pipeline_chipseq is redundant - however Katy and I are working on a new peakcalling_pipeline (from scratch in terms of the pipeline structure, but using bits of the old code) at the moment that will incorporate IDR analysis as an option into the code and streamline

[2016-08-09 13:11] snsansom commented on #240
Thanks Charlie, this is extremely useful to know!

Very glad this key workflow is getting the attention it deserves! Look forward to seeing the new focused version - its a good idea to incorporate IDR and it would also be awesome if it can incorporate your code for ATAC-seq analysis!

(One other thing we noticed with the current pipeline is that the syntax for tagging control samples is not well d

[2016-08-09 16:52] Charlie-George commented on #240
Thanks Steve, hopefully it will be up and working soon. Your right about the syntax for the inputs being cryptic - in the new pipeline we thought it would be better to have a design table where the correct input for each sample is stated explicitly as some of our projects have inconsistencies in the input matching between samples - this design would make sure the user was responsible for checking

[2016-08-12 13:31] sebastian-luna-valero commented on #233
Many thanks!

It all looks good to me, but I would be grateful if @CGATOxford/contributors had a look as well before merging.

[2016-08-22 09:57] AndreasHeger commented on #233
@IanSudbery , @sebastian-luna-valero, I think this is a great capability to have, many thanks!

[2016-08-22 10:06] AndreasHeger commented on #232
pysam can read/write CRAM, so it should not be an issue for our own tools but require some patching here or there.

I don't know how many of the the downstream tools we use can make use of CRAM. bedtools, for example, is not there yet:

https://twitter.com/aaronquinlan/status/738069194936188930

Changing the output of pipeline_mapping to CRAM should be a first, fairly independent step and we can t

[2016-09-01 17:00] haniap opened #248 "buildBedContext function in pipeline_rnaseqqc.py does not work for older genome builds"
buildBedContext requires the following tables from the annotation csvdb database
     geneset_cds_gtf
     geneset_coding_exons_gtf
     geneset_lincrna_exons_gtf
     geneset_noncoding_exons_gtf
These are not present in hg19_ensmbl75 build - instead you are forced to use hg19_ensmbl75_hierarchical build

[2016-09-07 10:31] Charlie-George opened #249 "SCRUM - Annotations"
Transcript support level is only available from biomart for more recent versions - is there a different mapping for hg19 - do downstream pipeline rely on this - ( transcript diff expression for example ) make sure this is noted in the ini files of those pipelines also

[2016-09-07 15:49] MikeDMorgan commented on #249
`downloadTranscriptSynonyms` also tries to access biomaRt with a specific set of column names which fails for older ensembl builds.  Also needs to be more flexible.

[2016-09-19 10:19] MikeDMorgan commented on #214
This issue will be resolved by the current pipeline_annotations SCRUM

[2016-09-19 10:19] #214 closed, assigned to nobody

[2016-09-30 08:35] TomSmithCGAT opened #256 "GENCODE tags in Ensembl GTF"
The Ensembl GTF includes some (not all) GENCODE [tags](https://www.gencodegenes.org/gencode_tags.html) which can be useful for defining a sensible reference transcriptome.

When the GTF is parsed by the annotation pipeline into the intial geneset_all.gtf.gz only one tag is retained. E.g

**Ensembl GTF**
`>zcat /ifs/mirror/ensembl/hg38/Homo_sapiens.GRCh38.82.gtf.gz|cut -f9|sed 's/;/\n/g' |grep tag

[2016-09-30 08:47] #217 closed, assigned to nobody

[2016-09-30 08:47] #198 closed, assigned to nobody

[2016-11-02 10:52] #21 closed, assigned to MikeDMorgan

[2016-11-02 10:53] MikeDMorgan commented on #20
I think the new RNAseq pipeline will supersede all of these issues/milestones referring to pipeline_rnaseqdiffexpression

[2016-11-02 10:53] #20 closed, assigned to MikeDMorgan

[2016-11-02 10:53] #14 closed, assigned to MikeDMorgan

[2016-11-02 10:53] #15 closed, assigned to MikeDMorgan

[2016-11-23 12:39] jscaber opened #261 "Broken Relational Imports in CGATReports"
Dear All,

following the py3 refactoring, CGATReports is no longer able to do the following relational imports:
`from .MappingReport import MappingTracker`

This can be easily fixed by getting rid of the `.` in front of the relational import.
Example of this can be found in Pull Request #260 . Thanks for @sebastian-luna-valero for the suggestion.

Any comments on whether this is a good way ahead a

[2016-11-23 22:59] AndreasHeger commented on #261
Thanks Jakub. Not sure why this is is now occurring (this is still py2.7, right?), but the solution looks good.

[2016-11-24 08:19] jscaber commented on #261
Yes, just to confirm that I'm still running py2.7. I have no expanded the fixes to all CGATReports trackers.
Thank you!

[2016-11-24 11:18] #261 closed, assigned to nobody

[2016-12-09 10:18] MikeDMorgan opened #265 "pipeline_readqc.py - format guess fails on Illumina-1.8"
This may be specific to data downloaded from ENA/ArrayExpress; fastq2fastq fails at multiple steps in pipeline_readqc.py if the data are not in either sanger or phred64.  The second mate-pair file raises an out-of-range error, but is in Illumina-1.8 format.  This occurs for multiple different data sets downloaded independently from ENA/ArrayExpress.  Currently the QUAL format, if not sanger, is ha

[2016-12-10 12:11] #265 closed, assigned to nobody

[2017-01-19 21:33] MikeDMorgan commented on #102
Resolved many moons ago.

[2017-01-19 21:33] #102 closed, assigned to nobody

[2017-01-19 21:34] #97 closed, assigned to nobody

[2017-01-20 09:17] #116 closed, assigned to nobody

[2017-01-20 09:20] #114 closed, assigned to nobody

[2017-01-20 09:20] #113 closed, assigned to nobody

[2017-01-20 09:20] #112 closed, assigned to nobody

[2017-01-20 09:21] #111 closed, assigned to nobody

[2017-01-20 09:21] #110 closed, assigned to nobody

[2017-01-20 09:21] #109 closed, assigned to nobody

[2017-01-20 09:21] #115 closed, assigned to nobody

[2017-01-20 09:22] #106 closed, assigned to nobody

[2017-01-20 09:22] #104 closed, assigned to nobody

[2017-01-20 09:22] #98 closed, assigned to nobody

[2017-01-20 14:59] Acribbs commented on #229
Hopefully I have resolved this issue in AC-Add_check_mapping branch

[2017-01-20 15:30] #229 closed, assigned to nobody

[2017-01-30 08:59] sebastian-luna-valero commented on #218
Thanks for your feedback. This was fixed:
https://github.com/CGATOxford/CGATPipelines/blob/master/CGATPipelines/Pipeline/Cluster.py#L38

[2017-01-30 08:59] #218 closed, assigned to nobody

[2017-02-03 13:59] Charlie-George opened #288 "pipeline_readqc"
To do (not urgent)

Remove dependency on path set in ini file to fastqc contamiants list for automatic removal of non-NoHit sequences when not using a custom contaminants list

[2017-02-08 12:50] sebastian-luna-valero commented on #288
Fixed in:
https://github.com/CGATOxford/CGATPipelines/pull/287

Thanks!

[2017-02-08 12:50] #288 closed, assigned to nobody

[2017-02-08 16:16] IanSudbery opened #289 "database in mapping report"
The location of the database for pipelines is set by `database_name` in the ini. However, by default `CGATReport` looks for the database name in `report_sql_backend`. Some pipelines bypass this by passing `backend=PARAMS["database_name"]` to the `TrackerSQL` constructor in their pipeline specific subclassing of `TrackerSQL`.

I don't know if CGATReport should look for `database_name` for report tr

[2017-02-10 11:40] sebastian-luna-valero commented on #289
Thanks @IanSudbery

Should this be reported in the `CGATReport` repository instead?
https://github.com/AndreasHeger/CGATReport/issues

Best regards,
Sebastian

[2017-02-16 10:11] MikeDMorgan opened #295 "Configurable database backend in CGAT pipelines"
Currently CSV2DB allows the database backend to be set to either sqlite, mysql or postgres.  There is currently no option in either `conf.py` or `pipeline.ini` to allow the user to set the database backend.  This is particularly important for large single cell sequencing experiments where the number of samples exceeds the SQLite variable limit that is set at compilation.

I propose to add a new pa

[2017-02-16 10:30] sebastian-luna-valero commented on #289
Is this issue related with this one?
https://github.com/CGATOxford/CGATPipelines/issues/54

If so, have you tried the proposed solution?

[2017-02-16 13:01] jaime11 opened #296 "pipeline_peakcallingScrum (Peakcalling-Scrum-2016): Missing parameters from the ini file"
Hello,

Thank you for the updated pipeline_peakcallingScrum. I have been trying to run the pipeline_peakcallingScrum from the Peakcalling-Scrum-2016 branch, the attribute "filters_contigs_to_remove" seems to be missing from the pipeline.ini file.
Is there a more recent version of the pipeline.ini?

Thanks again!

[2017-02-16 14:18] Charlie-George commented on #296
Oops sorry. I've just updated the ini file and pushed it. It might be a little rough in places - I'm just working on the reporting/stats for the filtering section and making so hopefully these updates will be pushed soon also. BW

[2017-02-16 14:19] #296 closed, assigned to nobody

[2017-02-16 16:11] #99 closed, assigned to nobody

[2017-02-20 16:46] AndreasHeger commented on #289
CGATReport and CGATPipelines are best considered separate tools, where the former is used by the latter. report_sql_backend makes sense for CGATReport, as it describes better than "database" what is needed (i.e. not a NoSQL database). While in CGATPipelines we have made the decision to use SQL database, so "database" is sufficient. Renaming it to "report_sql_backend" would also not be quite right,

[2017-02-20 18:02] IanSudbery commented on #289
I agree that I don’t think CGATReport should change.

However, having to add the path to the database in two different places in
production pipelines is tiresome, particularly when it isn’t a setting that
is present to be set by default in the pipeline.ini

In other pipelines, the base sub-class of TrackerSQL passes database_name
to the constructor. I think this is a good solution.

[2017-02-21 18:39] IanSudbery opened #297 "Errors caused by change in job scripts"
Hi All,

we are in the process of moving over to a newer version of the repo and have a problem.

Newer versions of Pipeline use `bash -e`.

Now every script that is executed on our HPC comes back with error status 1, irrespective of the actual outcome of the job. I think this is because the `ulimit -v` call fails - users on our systems do not have permissions to alter the ulimit. Up till now this

[2017-02-22 10:46] sebastian-luna-valero commented on #297
Thanks @IanSudbery

Could you please try the change proposed here:
https://github.com/CGATOxford/CGATPipelines/pull/298

and let me know if it works?

[2017-03-02 18:30] Charlie-George opened #301 "pipeline_testing not picking up certain files"
when setting up a test for pipeline_peakcallingScrum certain files are not being picked up by the suffixes

for instance in pipeline_testing ini file I specify

`[test_peakcallingPEnarrow]
pipeline=pipeline_peakcallingScrum
suffixes=tsv,_filtered.bam,bed.gz,bed.gz,xls.gz,narrowPeak,filteringlog,idxstats`

the test_peakcallingPEnarrow.stats file lacks checksums for the "filteringlog" suffix despite

[2017-03-03 13:55] sebastian-luna-valero commented on #301
Thanks @Charlie-George

I will try to reproduce it and let you know.

[2017-03-03 16:36] Acribbs commented on #301
I am also finding that some of my files are not being picked up.

Specifically the quant files.

for instance if I specify the following in the testing pipeline.ini
[code]

[2017-03-06 12:56] AndreasHeger commented on #301
Thanks, is it still an issue?

[2017-03-06 13:16] sebastian-luna-valero commented on #301
Hello,

I was able to reproduce the error on the `Peakcalling-Scrum-2016` branch. The problem I found is with the `find` command in `buildCheckSums` function:
https://github.com/CGATOxford/CGATPipelines/blob/master/CGATPipelines/pipeline_testing.py#L348

Particularly, with the `-not -regex ".*.log"` test, which is preventing the `filteringlog` files from being picked up.

@AndreasHeger we can:
* g

[2017-03-06 13:18] AndreasHeger commented on #301
@sebastian-luna-valero , thanks, the ```-not -regex ".*.log"'``` can go.

[2017-03-06 13:29] sebastian-luna-valero commented on #301
@AndreasHeger thanks, will try this https://github.com/CGATOxford/CGATPipelines/pull/305

[2017-03-06 14:32] sebastian-luna-valero commented on #301
@Charlie-George @Acribbs

Please merge your branches with the latest master and check whether this is still a problem.

[2017-03-06 14:44] sebastian-luna-valero commented on #297
@IanSudbery have you had the chance to test this?

I am planning to close this PR without merging by the end of this week if I have no feedback.

[2017-03-10 14:38] KatyBrown opened #309 "regex_linecount and regex_exist tests not picking up files"
Hi,

I think there is a problem regex_linecount and regex_exist pipeline.ini options in the pipeline tests.

For example, looking at pipeline_annotations:
In the pipeline.ini the configuration is:
[test_annotations]
target=assembly,geneset,annotations,ucsc,summary
suffixes=gff.gz,gtf.gz,bed.gz,tsv.gz,fasta
regex_exist=gwas_catalog|gwas_distild|goslim.tsv.gz|genomic_function.*.gz|kegg.tsv.gz

But t

[2017-03-10 14:39] #297 closed, assigned to nobody

[2017-03-10 16:05] sebastian-luna-valero commented on #309
Thanks @KatyBrown

I am looking at this.

[2017-03-13 08:49] sebastian-luna-valero commented on #309
I can see the problem now.

The `buildLineCounts` task uses `suffixes` instead of `regex_linecount` to count lines:
https://github.com/CGATOxford/CGATPipelines/blob/master/CGATPipelines/pipeline_testing.py#L367

Moreover, `mergeFileStatistics` uses bash's `join` command:
https://github.com/CGATOxford/CGATPipelines/blob/master/CGATPipelines/pipeline_testing.py#L395

which will only output the infor

[2017-03-13 09:12] AndreasHeger commented on #309
Thanks!

[2017-04-05 13:54] sebastian-luna-valero commented on #301
Solved with https://github.com/CGATOxford/CGATPipelines/pull/305

[2017-04-05 13:54] #301 closed, assigned to sebastian-luna-valero

[2017-04-10 15:32] XijinXu opened #317 "Result list has a small error generated by rnaseqdiffexpression.py"
The DE gene list I got from pipeline_rnaseqdiffexpression.py is right, except that the control group mean value and the treatment  group mean value is the same number. One of them is wrong I think.
It doesn't affect the data interpretation, but it would be great if it can be fixed. Thanks!

[2017-04-11 16:24] KatyBrown commented on #317
Hi Xijin - can you send me the link to the output file that is wrong?

[2017-04-11 16:29] XijinXu commented on #317
Hi Katy,

Thank you very much!
Here is the path:
/ifs/projects/proj066/P140478_mRNA/pipeline_DE_coding/DEresults.dir/deseq2/featurecounts__1_genes_results.tsv

Best wishes,
Xijin
________________________________
From: KatyBrown [notifications@github.com]
Sent: 11 April 2017 17:24
To: CGATOxford/CGATPipelines
Cc: Xijin Xu; Author
Subject: Re: [CGATOxford/CGATPipelines] Result list has a small error

[2017-04-12 11:08] TomSmithCGAT commented on #317
Hi @XijinXu. From memory, this is because the pipeline uses the output from [count2table.py](https://github.com/CGATOxford/cgat/blob/master/CGAT/scripts/counts2table.py) which takes the output for each differential expression tool and reformats this into a generic  Since some tools (e.g DESeq2) don't give the average expression in the two groups, but rather the average expression across all sample

[2017-04-12 12:34] XijinXu commented on #317
Hi Tom, that make sense! DEseq2 and edger both produce average expression in the two groups. Maybe we should change the title in the genelist, because it is a littile misleading.
Thank you! :)

[2017-04-20 13:25] #309 closed, assigned to sebastian-luna-valero

[2017-04-20 13:26] sebastian-luna-valero commented on #309
Sorry for the delay, I found several other issues with `pipeline_testing` along the way.

These pull requests should solve them all:
* https://github.com/CGATOxford/CGATPipelines/pull/316
* https://github.com/CGATOxford/CGATTests/pull/3

I have merged into master and will also update all tests in Jenkins accordingly.

Many thanks for your patient.

[2017-04-20 13:41] Charlie-George commented on #309
Thanks Sebastian!

On 20 Apr 2017, at 14:26, Sebastian Luna-Valero <notifications@github.com<mailto:notifications@github.com>> wrote:

Sorry for the delay, I found several other issues with pipeline_testing along the way.

These pull requests should solve them all:

  *   #316<https://github.com/CGATOxford/CGATPipelines/pull/316>
  *   CGATOxford/CGATTests#3<https://github.com/CGATOxford/CGATTests

[2017-04-26 15:28] jscaber opened #320 "Annotations Pipeline Requirements"
I have been working with the annotations pipeline with a GTF from elswhere and have noticed that the GTF that is provided has very specific requirements (I concatenated the GTF with the Ensembl GTF).

1. All entries from a gene_id have to be on the same strand [+/-]
2. Exons have to have unique exon_ids
3. The gtf has to be sorted first by gene_id and then by transcript_id

I wonder if sanity chec

[2017-04-27 15:34] jscaber opened #321 "Picard Refflat Bugfix (pipeline_mapping.py)"
I think I may have found the error that resulted in picard always reporting '0' coding reads in rnaseqmetrics.

The picard refflat in the mapping pipeline is generated from the cleaned up reference.gtf.gz.
This does not work, as the gtf contains information only on exons and not on cds and therefore no coding regions are marked in the flatfile. Cols 6 & 7 are always the same and identical to Col 5

[2017-04-27 15:59] jscaber commented on #321
I have also added the same bugfix for pipline_rnaseqqc.py.

[2017-04-28 14:28] sebastian-luna-valero commented on #321
Closed via https://github.com/CGATOxford/CGATPipelines/pull/322

Many thanks @jscaber !

[2017-04-28 14:28] #321 closed, assigned to nobody

[2017-05-03 07:59] sebastian-luna-valero commented on #320
Hi @jscaber

Would it be possible to add that to https://github.com/CGATOxford/CGATPipelines/pull/323?

[2017-05-05 09:14] sebastian-luna-valero opened #326 "import pandas.rpy.common as com"
Hello @CGATOxford/contributors

The import tests on the master branch are failing on Travis:
https://travis-ci.org/CGATOxford/CGATPipelines/builds/228407995#L1499

After googling, this is due to a deprecated import in pandas `import pandas.rpy.common`:
http://pandas.pydata.org/pandas-docs/stable/r_interface.html

The affected pipelines are:
* RRBS
* TimeSeries

Could you please have a look at how

[2017-05-05 12:41] sebastian-luna-valero commented on #326
@MikeDMorgan many thanks for https://github.com/CGATOxford/CGATPipelines/pull/327

@TomSmithCGAT would you be able to have a look at the `pipeline_rrbs` and its corresponding module:
* https://travis-ci.org/CGATOxford/CGATPipelines/builds/229055628#L1499
* https://travis-ci.org/CGATOxford/CGATPipelines/builds/229055628#L1509

[2017-05-05 12:53] TomSmithCGAT commented on #326
Hi @sebastian-luna-valero. I'll have a look at this shortly. Thanks for the pandas link for how to resolve this!

[2017-05-05 14:35] TomSmithCGAT commented on #326
Done (#328)

[2017-05-05 14:47] sebastian-luna-valero commented on #326
Brilliant, many thanks both!

[2017-05-05 14:47] #326 closed, assigned to nobody

[2017-05-17 11:03] jscaber opened #332 "Changes to pipeline.ini files (global)"
This is to initiate a debate on pipeline.ini files, to provide a convention that will work for input validation.
In its current format, input validation would happen directly on the ini file before anything else happens.

### 1. How to handle file paths
There have been two suggestions:
- Require a **full path** for every file that is used
    - Easy to write a validation script
    - Portable, no

[2017-05-17 13:55] sebastian-luna-valero commented on #332
Thanks @jscaber

Please note that the existing input validation happens after the `PARAMS` dictionary has been fully loaded, which includes more steps than parsing the `pipeline.ini` file. Actually, it may parse more than one `.ini` file and also there are 1) input given in the command-line and 2) hard-coded values (e.g. in `Parameters.py`) However, it does happen just before running any ruffus ta

[2017-05-19 10:37] sebastian-luna-valero opened #334 "pipeline_rnaseqqc.py: AttributeError: 'pandas._libs.interval.Interval' object has no attribute 'replace'"
Hi,

When running `pipeline_testing.py` with the latest pandas version `0.20.1`, I get the error below in `pipeline_rnaseqqc`.

[code]

@TomSmithCGAT could you please have a [look](https://github.com/CGATOxford/CGATPipelines/blob/master/CGATPipelines/pipeline_rnaseqqc.py#L1479) when you have a spare time? or should we stick to the previous pandas version as the new one break things?

Best regards,

[2017-05-19 10:58] TomSmithCGAT commented on #334
I'll have a look soon. I think we should support the latest pandas.

[2017-05-19 11:01] sebastian-luna-valero commented on #334
Thanks!

[2017-05-22 12:26] snsansom opened #335 "backports.configparser.InterpolationSyntaxError"
For a while, whenever I try and run a pipeline I am seeing the below interpolation error:

`$ python /gfs/devel/ssansom/CGATPipelines/CGATPipelines/pipeline_annotations.py config
Traceback (most recent call last):
  File "/gfs/devel/ssansom/CGATPipelines/CGATPipelines/pipeline_annotations.py", line 596, in <module>
    "pipeline.ini"])
  File "/gfs/devel/ssansom/CGATPipelines/CGATPipelines/Pipelin

[2017-05-22 12:48] snsansom commented on #335
In fact a grep for "mapability_bed" or "mapability_filtered_bed" in "*.py" in the pipeline directory (and also in the CGAT/scripts directory) yields no results.

Can we simply remove these problematic lines from the config?

[2017-05-22 12:54] Acribbs commented on #335
When I was looking at the annotations pipeline I couldn't work out what the mapability_bed functions were doing either. Therefore, I assume removing them would be ok.

[2017-05-22 12:55] Acribbs commented on #335
However, saying that, I haven't experienced problems with running pipelines.

[2017-05-22 12:57] snsansom commented on #335
Thanks. I will test the annotations pipeline (make full) without them, and if it completes ok I will submit a patch to remove said lines.

[2017-05-22 13:56] jscaber commented on #335
I did run this a this week ago on hg38_ensembl87 and did not have these problems, but yes, the code is obsolete and can go.

The last pipeline using mappability tracks was the mediq_seq pipeline. The tracks still get made in the annotations pipeline (for the very few genome builds they exist for, hg19 and mm9 are the only ones I know), but the user no longer specifies their name.

[2017-05-22 15:26] AndreasHeger commented on #335
Hi, the py3 branch already contains a work-around:

[code]

not sure, when it was added.

[2017-05-22 23:25] snsansom commented on #335
Hi Andreas, great to know there is a work around for the py3 branch.

I've submitted a pull request to fix this issue in the current code, along with some other bug fixes.

[2017-05-24 09:35] sebastian-luna-valero commented on #334
When running the `test_import` script for pipelines, I have just seen this:
[code]
I thought it could be relevant to this issue.

[2017-06-21 09:36] sebastian-luna-valero commented on #335
Fixed https://github.com/CGATOxford/CGATPipelines/pull/336

[2017-06-21 09:36] #335 closed, assigned to nobody

[2017-06-28 12:47] Charlie-George commented on #103
new pipeline_peakcalling includes updated IDR code. pipeline_idr and the old pipeline_peakcalling have been moved to obsolete

[2017-06-28 12:47] #103 closed, assigned to nobody

[2017-06-28 12:48] Charlie-George commented on #105
new pipeline solves this

[2017-06-28 12:48] #105 closed, assigned to nobody

[2017-06-28 12:50] Acribbs commented on #256
This issue is dealt with in the new pipeline_GTF_subset that I am writing.

[2017-06-28 12:50] #256 closed, assigned to TomSmithCGAT

[2017-06-28 12:50] #249 closed, assigned to nobody

[2017-06-28 12:52] Acribbs commented on #19
I assume I can close this because of the new python 3 testing

[2017-06-28 12:52] #19 closed, assigned to nobody

[2017-06-28 12:53] #9 closed, assigned to Charlie-George

[2017-06-28 12:54] #11 closed, assigned to nobody

[2017-06-28 12:54] #13 closed, assigned to nobody

[2017-06-28 12:54] #12 closed, assigned to nobody

[2017-07-10 14:22] sebastian-luna-valero commented on #334
This issue doesn't happen with the Python 3 environment, so closing.

[2017-07-10 14:22] #334 closed, assigned to TomSmithCGAT

[2017-07-10 14:23] sebastian-luna-valero commented on #240
Is this solved with the new peakcalling pipeline?

[2017-07-10 14:23] sebastian-luna-valero commented on #241
Is this solved with the new peakcalling pipeline?

[2017-07-10 14:24] sebastian-luna-valero commented on #101
Is this solved with the new peakcalling pipeline?

[2017-07-10 14:25] sebastian-luna-valero commented on #16
Done, thanks!

[2017-07-10 14:25] #16 closed, assigned to KatyBrown

[2017-07-10 14:25] sebastian-luna-valero commented on #10
Done, thanks!

[2017-07-10 14:25] #10 closed, assigned to nobody

[2017-07-10 15:41] Charlie-George commented on #240
Yes - Closed

[2017-07-10 15:41] Charlie-George commented on #241
I think so

[2017-07-10 15:41] #241 closed, assigned to nobody

[2017-07-10 15:41] Charlie-George commented on #101
Yes - dropped

[2017-07-10 15:41] #101 closed, assigned to nobody

[2017-07-10 16:27] Charlie-George commented on #101
Yes - dropped

[2017-08-15 10:02] #240 closed, assigned to nobody

[2017-08-15 10:03] #118 closed, assigned to nobody

[2017-08-21 09:03] #107 closed, assigned to TomSmithCGAT

[2017-08-21 09:03] Acribbs commented on #18
Currently working on this pipeline and since comment is old I will close

[2017-08-21 09:03] #18 closed, assigned to nobody

[2017-08-21 09:04] #100 closed, assigned to nobody

[2017-09-15 08:39] sebastian-luna-valero opened #355 "3rd party dependencies in production pipelines"
I am creating conda environments for the production pipelines and wanted to ask whether the following dependencies are really required.

# Pipeline Annotations

## `map2slim`

Called in task `createGOSlim`:
- https://github.com/CGATOxford/CGATPipelines/blob/master/CGATPipelines/pipeline_annotations.py#L2229
- https://github.com/CGATOxford/CGATPipelines/blob/master/CGATPipelines/PipelineGO.py#L324

[2017-09-22 08:17] Acribbs commented on #320
I assume this was incorporated into the scrum. I will close but reopen if its still an issue

[2017-09-22 08:17] #320 closed, assigned to nobody

[2017-09-22 08:17] #17 closed, assigned to KatyBrown

[2017-09-27 16:08] sebastian-luna-valero commented on #355
Hi All,

All the aforementioned dependencies will be ignored in the future conda environment for production pipelines.

Please reopen otherwise.

Best regards,
Sebastian

[2017-09-27 16:08] #355 closed, assigned to nobody

[2017-10-30 16:38] #32 closed, assigned to nobody

[2017-10-30 16:39] #59 closed, assigned to nobody

[2017-11-10 11:19] Acribbs commented on #54
@IanSudbery can this issue be closed?

[2017-11-10 11:20] Acribbs commented on #62
@IanSudbery can this be closed?

[2017-11-10 11:20] #76 closed, assigned to nobody

[2017-11-10 11:22] Acribbs commented on #85
Closed because this should be handled properly in new pipeline when it is released. Please reopen if issue still persists in new release

[2017-11-10 11:22] #85 closed, assigned to nobody

[2017-11-10 11:22] Acribbs commented on #136
@IanSudbery @jscaber I assume this can be closed. please reopen if not

[2017-11-10 11:22] #136 closed, assigned to nobody

[2017-11-10 11:24] #248 closed, assigned to nobody

[2017-11-10 11:25] Acribbs commented on #295
@MikeDMorgan was any progress made on this?

[2017-11-10 11:26] Acribbs commented on #120
closed but please reopen if still an issue

[2017-11-10 11:26] #120 closed, assigned to nobody

[2017-11-10 11:27] Acribbs commented on #289
@IanSudbery should this be closed?

[2017-11-10 11:29] IanSudbery commented on #62
I guess so, yes.

[2017-11-10 11:29] #62 closed, assigned to nobody

[2017-11-10 11:31] #92 closed, assigned to nobody

[2017-11-10 11:31] Acribbs commented on #317
I will update the pipeline and change the naming as i agree its a confusing

[2017-11-10 11:34] IanSudbery commented on #289
Many pipelines are still not setting the SQL backend correctly. A brief check shows that at least mapping and readqc are not:

Mapping uses the default CGATReport locations.
readqc actaully overrides this with its own special set of locations that are different from CGATReport, but still not the correct ones.

[2017-11-10 11:37] Acribbs commented on #289
Ok, im not really best to solve this as I always found CGAT report an enigma. Just so you are aware we are hoping to transition away from CGAT report and rely on multiqc for generic QC visualisation and bespoke reporting using Rmarkdown or Jupiter notebook in the future.

[2017-11-10 11:51] MikeDMorgan commented on #295
It was partly resolved for pipeline_mapping.py at least, but then it got lost in the migration to Py3.  I'm not sure where it stands currently, particularly with the move to SQLAlchemy

[2017-11-10 11:53] Acribbs commented on #295
Ok, I will leave it open for the moment and when the new branches for python 3.6 are merged I can have a look at it.

[2017-11-15 10:02] Acribbs commented on #54
Closed, but please reopen if necessary

[2017-11-15 10:02] #54 closed, assigned to nobody

[2017-11-15 10:03] Acribbs commented on #204
Was this enhancement made? I know that there are very few people still working on exosome pipeline

[2017-11-16 12:08] sebastian-luna-valero opened #366 "GCProfile"
Hi @Acribbs

As discussed, the existing `pipeline_annotations.py` depends on `GCProfile`:
https://github.com/CGATOxford/CGATPipelines/blob/master/CGATPipelines/pipeline_annotations.py#L872

which is a piece of [outdated](http://tubic.tju.edu.cn/GC-Profile/) software, compiled for 32-bit architectures only.

This is causing the existing annotations pipeline to fail when running pipeline testing on

[2017-11-16 13:13] Acribbs commented on #366
Hi Sebastian,

The new pipelne_genesets.py does rely on this and the line for this function is here: https://github.com/CGATOxford/CGATPipelines/blob/AC-pipeline_pub/CGATPipelines/pipeline_genesets.py#L508

@AndreasHeger are you able to look at this tomorrow and see if there a workaround so we dont have to rely on this old software please?

I will now check to see where downstream this output file

[2017-11-16 13:30] IanSudbery commented on #366
I can confirm that 90% of the time when our pipeline_annotations runs fail, its `GCProfile`'s fault.

[2017-11-16 13:58] Acribbs commented on #366
@IanSudbery do you know where this part of the pipeline output is used in downstream pipelines?  The idea is to try and remove this from our pipelines in the future but if the output isn't used then we can most likely just remove this bit of the code

[2017-11-16 14:26] IanSudbery commented on #366
I don't know, but I'm guessing its used to define the isocores that are used as GAT workspaces.

[2017-11-17 13:35] AndreasHeger commented on #366
Thanks. Correct, GCProfile is used for enrichment analyses with GAT. It can be removed. pipeline_intervals might contain reference to the gcprofile.bed file.

[2017-11-17 13:46] Acribbs commented on #366
I thought it did have a reference in intervals pipeline but I checked the pipeline yesterday and couldn't find any mention of it. I will have another look when im back in on monday and then if @sebastian-luna-valero can remove it from annotations pipeline I can remove it from the new geneses pipeline.

[2017-11-17 13:52] Acribbs commented on #204
I will close this issue but please reopen if required

[2017-11-17 13:52] #204 closed, assigned to nobody

[2017-11-17 14:30] sebastian-luna-valero commented on #366
Thanks, All. @AndreasHeger could you please look at removing `GCProfile`?

[2017-11-17 14:36] AndreasHeger commented on #366
Ok, will submit a PR.

[2017-11-17 14:36] AndreasHeger commented on #366
Shall I do this on master or RefactorCore?

[2017-11-17 14:39] sebastian-luna-valero commented on #366
Many thanks!

My preference would be master so I can continue working on portability issues with production pipelines.

We'll need to refactor again anyway since our plan now is to move to a new core repo, and therefore we will probably remove the `CGATCore` one.

[2017-11-17 15:01] AndreasHeger commented on #366
Ok, I have created two pull requests

[2017-11-17 15:36] sebastian-luna-valero opened #369 "Python 2 dependencies in production code"
Following up on the GCProfile dependency, I wanted to mention that some of our production code still depends on python 2 software. At least I know of the following:
* `bx-python` in scripts
* `macs2`,  `sicer`, `tophat` in pipelines

Could any of these be removed as well? Or do we just need to work with python 2 environments to keep them?

[2017-11-17 16:37] sebastian-luna-valero commented on #366
Many thanks!

I am waiting for Adam's input regarding the PR in pipelines and the `png` [files](https://github.com/CGATOxford/CGATPipelines/pull/368#issuecomment-345271145), and also for the tests to finish (which now take much longer for the scripts due to the OS X builds on travis)

Will merge next week.

[2017-11-17 16:38] Acribbs commented on #369
Not sure about bx-python.

Currently macs2 isn't available for python 3 but looking at the GitHub repo it seems that they are working on porting it to python 3.

sicer isn't available for python 3 either and it looks like there is no effort in porting it to python 3. At the moment I find it useful for some of the very broad peak analysis, however I have seen this software that may do a better job

[2017-11-17 16:40] Acribbs commented on #366
I dont think the png files need to be tracked as they are only generated for documentation and thats not hosted on GitHub..

[2017-11-17 16:43] Acribbs commented on #366
Actually the only doc files that need to be tracked are Figure_for_documentation.png and Slide2.png. These are used for documentation in the introduction and tutorial section.

[2017-11-20 11:39] #366 closed, assigned to nobody

[2017-11-21 13:24] Charlie-George commented on #369
If possible can we leave tophat - there have been a couple of cases where I've wanted to double check workflows of public data and used it to double check their analysis against mine - I guess those cases become less and less but it's easier to keep something in rather then have to add it again.

[2017-11-21 13:44] Acribbs commented on #369
Ok Tophat can stay, do you have any experience running the python 3 branch for macs2?

[2017-11-21 14:05] Charlie-George commented on #369
Thanks :). Yes the py3 branch for macs2 should be fine - the location of the python 2 macs2 env is in the ini - it just appends this to the begining of the statement and it should just work, at least it was when I used it a couple of months ago. I tested it throughly in both enviroments py3 and py2 and it was fine and made tests for all possible routes of macs2/IDR although you have to run them lo

[2017-11-27 10:03] #317 closed, assigned to Acribbs

[2017-11-29 11:01] Acribbs commented on #369
@sebastian-luna-valero what is the decision for moving forward with this issue? It seems like macs2 and tophat will need to stay for the time being.

[2017-11-30 15:53] sebastian-luna-valero commented on #369
Hi,

Thanks for your replies and sorry for my silence.

Right now we use a central conda environment for py2 dependencies but this is not portable. My plan is update the installation so the py2 environment is created with the installation of the code and therefore will be moved outside as well.

I will create a pull request.

Best regards,
Sebastian

[2017-11-30 15:56] sebastian-luna-valero commented on #369
Update: this will only be valid for command-line tools like `tophat`, `macs2` and hopefully `sicer` (which I remember was tricky to install). Regarding `bx-python`, we will still use the `pip install` until we find a way forward (either it is ported to python 3, or we refactor our code to remove the dependency)

[2017-12-04 10:39] sebastian-luna-valero commented on #369
Following up on Lior's tweet (thanks @Acribbs for forwarding):
https://twitter.com/lpachter/status/937055346987712512

Do we still want to include `tophat` in our py2 environment?

[2017-12-04 10:42] IanSudbery commented on #369
I guess yes. We still need to be able to reproduce published results.

On Mon, 4 Dec 2017 at 10:39 Sebastian Luna-Valero <notifications@github.com>
wrote:

[2017-12-04 10:47] TomSmithCGAT commented on #369
I'm with Ian. I can't see any justification for using Tophat for our own analyses but it is useful for reproducing other people's work, especially seen as it's still so popular 😱

[2017-12-04 10:50] Acribbs commented on #369
I think a lot of the popularity is just wrong citation, I think the majority of work is on Tophat2/hisat2 but people keep citing wrong paper, well thats my feeling anyway

[2017-12-04 11:54] TomSmithCGAT commented on #369
Very possibly true. I hope so!

[2017-12-07 09:40] Acribbs opened #378 "pandas module is deprecated"
@sebastian-luna-valero ,

I have noticed on a number of pipelines we are getting warnings that pandas modules are deprecated, specifically pandas.lib and pandas.core.datetools.

I think we should change pandas import statements so this doesn't happened, please see: https://github.com/yhat/ggpy/issues/618

[2017-12-07 14:41] sebastian-luna-valero commented on #378
Thanks @Acribbs

I am getting those as well, but looking deeper into them, this is caused by `CGATReport`, `ggplot`, and `statsmodels`:
[code]
So AFAIK, the refactoring should happen on those packages rather than in our pipelines. Presumably this will occur in new versions of those packages, and the `FutureWarning` will disappear after we upgrade our conda environments.

Will close but feel free t

[2017-12-07 14:41] #378 closed, assigned to nobody

[2017-12-08 10:34] sebastian-luna-valero commented on #355
Update: I have packaged `go-perl` in bioconda (https://github.com/bioconda/bioconda-recipes/pull/7014) since `map2slim` and `go2fmt.pl` have been kept in the `pipeline_genesets` . The `go-perl` package will therefore be included in the conda environment during installation.

[2017-12-08 10:36] Acribbs commented on #355
@sebastian-luna-valero What was Andreas opinion on removing the code from the pipeline?

[2017-12-08 10:45] sebastian-luna-valero commented on #355
Thanks @Acribbs. Finally, I found and packaged the missing dependency so it wasn't necessary to remove the relevant code in the pipeline.

[2017-12-08 10:56] Acribbs commented on #355
Brilliant! Thanks.

[2017-12-14 16:38] sebastian-luna-valero commented on #369
Following up on this, in https://github.com/CGATOxford/CGATPipelines/pull/381 I try to solve this issue.  Please note that there will be better ways of solving the problem and we can implement them in new pipelines. For the time being, this seems to work for the existing code. Any proposal/feedback is more than welcome.

[2017-12-14 16:46] #369 closed, assigned to nobody

[2018-01-05 11:05] Acribbs opened #383 "merge bam final target for mapping"
The `mergeBAMFiles` is not run for the mapping pipeline because it does not appear as a ruffus target in the final full target.

Needs to be added

[2018-01-08 11:06] #383 closed, assigned to Acribbs

[2018-01-08 11:07] Acribbs commented on #383
Solved with #384

[2018-01-17 16:52] sebastian-luna-valero opened #387 "trim_galore in readqc"
When using `trim_galore` in `pipeline_readqc.py`, the following exception occurs:
[code]

The pipeline task `processReads` is expecting:
* `processed.dir/trimmed-Brain-F2-R2-trimgalore_trimmed.fq.gz`

in this step:
* ` mv processed.dir/trimmed-Brain-F2-R2-trimgalore_trimmed.fq.gz processed.dir/trimmed-Brain-F2-R2.fastq.gz`

and the following file is being generated instead:
* `processed.dir/Brain-

[2018-01-19 15:31] AndreasHeger commented on #387
My guess that trimgalore is a new version?

[2018-01-24 10:28] sebastian-luna-valero opened #388 "fastq naming convention"
Commonly used naming convention for pair-end reads is `.1.fastq.gz` and `.2.fastq.gz` whereas the CGAT convention is `.fastq.1.gz` and `.fastq.2.gz`

Our pipelines needs to support both. Right now we need to fix:
* mapping
* readqc

[2018-01-24 10:38] MikeDMorgan commented on #388
I don't think there is actually a proper convention.  Generally speaking I think that should be part of the file name mapping step, i.e. we often want to change from the (somewhat) arbitrary and obfuscated filenames from the sequencing centre, to something more meaningful, e.g. <tissue>-<condition>-<replicate>.  This also means that any convention used by the sequencing centre for determining pair

[2018-01-24 11:20] Charlie-George commented on #388
all my illumina reads come in the format Blah_Blah_Lane_R1.fastq.gz, Blah_Blah_Lane_R2.fastq.gz  for reads 1 and 2 so users would still have to rename them to 1.fastq.gz and 2.fastq.gz anyway? if your doing that you might as well rename it to fastq.1.gz fastq.2.gz.

[2018-01-24 17:27] sebastian-luna-valero commented on #388
@david-cgat please let us know your thoughts

[2018-01-25 17:35] sebastian-luna-valero commented on #387
Thanks @AndreasHeger

I rerun the pipeline with older versions of `trim_galore` available as module files. Version 0.3.3 did not work since it requires Python 2.7. Version 0.4.4 generated the same problem.

The issue seems to  be fixed with the change in https://github.com/CGATOxford/CGATPipelines/pull/391

[2018-01-25 18:03] #387 closed, assigned to nobody

[2018-01-26 16:03] AndreasHeger commented on #388
This will be a difficult change, as the distinction between fastq.gz and fastq.1.gz is used to correctly process both single-end and paired-end data based on their suffix. If .fastq.gz is a common suffix, the pipelines will need major refactoring.

[2018-01-26 16:12] sebastian-luna-valero commented on #388
Thanks All!

Probably we just need to highlight in the documentation/tutorials that `cgat_tsvlinks.py` has to be used if the provided input files are not in the format expected by the pipelines. I am happy to help if someone points me into the right direction.

[2018-02-05 15:07] Acribbs opened #394 "bamstats report"
The latest update of the conda environment has completely ruined the CGAT report fo Jupyter notebook and Rmarkdown. The reports need to be refactored to reflect the changes

[2018-02-05 21:29] Acribbs commented on #394
Fixed with  #395

[2018-02-05 21:29] #394 closed, assigned to Acribbs

[2018-02-12 16:17] Acribbs opened #400 "replace annotation reference in template"
Kevin remarked that there is a reference to annotations in quickstart. This needs to be replaced with reference to the geneses pipeline.

[2018-02-15 11:06] #388 closed, assigned to nobody

[2018-02-16 14:41] Acribbs commented on #400
#405 not fixes this

[2018-02-16 14:41] #400 closed, assigned to nobody

[2018-02-19 15:16] kevinrue opened #407 "Reference genome "*.fasta" in addition to ".fa""
https://github.com/CGATOxford/CGATPipelines/blob/48eba7d41297a268a622a4e5d98a5a5565af52be/CGATPipelines/PipelineMapping.py#L368

Could reference genomes be supported with both "fa" and "fasta" extensions? Or is there a particular reason/pipeline that should be used to ensure only "fa" are supported here?

Thanks!

[2018-02-19 16:33] Acribbs commented on #407
I assume that this was because the UCSC convention is to name the fasta files of the reference genome .fa. @AndreasHeger can probably shed more light.

[2018-02-19 16:47] kevinrue commented on #407
Nevermind, I need to learn how to read comments in `pipeline.ini`:
[code]

Sorry for the waste of time -_-

[2018-02-19 16:47] #407 closed, assigned to nobody

[2018-02-21 17:06] sebastian-luna-valero opened #410 "Changing the hierarchy of ini files"
@CGATOxford/contributors

Right now, when you follow the standard procedure to use pipelines:
* enable conda environment
* `mkdir <workingdir> && cd <workingdir>`
* `cgatflow <pipeline> config`

You end up with the following hierarchy of ini files:
[code]

I would like to change this hierarchy to the following one:
[code]

Is that problematic for anyone out there?

Best regards,
Sebastian

[2018-02-23 11:43] #410 closed, assigned to nobody

[2018-03-16 09:34] nickilott opened #419 "pipeline_mapping.py uploads duplicated read counts when mergeReadCounts is not performed"
Hi,

When there is no pattern set for counting reads (mergeReadCounts) and the dummy task is used pipeline_mapping.py takes read counts twice for each file i.e.

@merge((countReads, mergeReadCounts), "reads_summary.load")
def loadReadCounts(infiles, outfile):
...

The two infiles here have the same output when counts aren't merged. I have fixed this by adding:

infiles = set(infiles)

so that only

[2018-03-16 14:29] sebastian-luna-valero commented on #419
Thanks, Nick.

Fixed with https://github.com/CGATOxford/CGATPipelines/pull/420

[2018-03-16 14:29] #419 closed, assigned to nobody

[2018-03-26 08:46] Acribbs opened #421 "hard coded param in PipelinePeakcalling"
@KatyBrown im trying to work out what is this hard coded line is referring to?
https://github.com/CGATOxford/CGATPipelines/blob/master/CGATPipelines/PipelinePeakcalling.py#L2665
Was this just left in during debugging?
Thanks

[2018-04-10 12:52] #421 closed, assigned to nobody

[2018-04-25 09:35] kevinrue opened #424 "pipeline readqc fails to load FASTQC metrics of trimmed files?"
Hi,

Having enabled `Trimmomatic` as a preprocessor in `pipeline_readqc`, I found that while `trimmed-WTCHG_45714_249_2_sequence.short_fastqc.load` appear in the `processed.dir` folder the csvdb tables associated with the FastQC metrics of those trimmed samples don't appear in the database. Note that the individual FastQC report show up in the `export` directory,  and that the trimmed samples do s

[2018-04-25 09:40] Acribbs commented on #424
Hi Kevin,

I can look into this tomorrow. Just for clarity, did you run `python [...]/pipeline_readqc.py config make full` or `python [...]/pipeline_readqc.py make full`  ?

[2018-04-25 09:49] kevinrue commented on #424
It was only a typo in my message above, due to a hasty copy-paste when I was opening the issue.

To run the pipeline,  I did the correct `python [...]/pipeline_readqc.py make full`, without `config`.

[2018-04-25 11:30] Acribbs commented on #424
@kevinrue are you able to post the contents of the `trimmed-WTCHG_45714_249_2_sequence.short_fastqc.load` file please.

[2018-04-25 13:54] kevinrue commented on #424
Sorry, just out of lab meeting now.

It's an empty file. See `P.touch(outfile)`
 https://github.com/CGATOxford/CGATPipelines/blob/master/CGATPipelines/pipeline_readqc.py#L387

[2018-04-27 09:14] Acribbs commented on #424
im going to hold off looking into this, once I have a working environment for the new chat-developers I will test this over there.

[2018-06-06 10:55] sebastian-luna-valero commented on #424
Hi @kevinrue

Would you be able to test the fix in https://github.com/CGATOxford/CGATPipelines/pull/426 please?

Best regards,
Sebastian

[2018-06-06 11:05] kevinrue commented on #424
I'll pull up a data set and test ASAP.
Thanks for looking into this!

[2018-06-06 14:38] sebastian-luna-valero commented on #424
Thank you!

[2018-06-06 17:50] kevinrue commented on #424
I _think_ I've updated everything correctly, and still don't see the tables in the database, but I rushed it a little bit, so let me do it again calmly another time and I'll tell you for sure.
Cheers

[2018-06-06 17:56] sebastian-luna-valero commented on #424
The fix is on branch `issue-424`.

Running the reproducible example mentioned above works on our end, but would be great to confirm with other input data as well.

Many thanks!

[2018-06-06 20:58] kevinrue commented on #424
Thanks.
I've made sure to checkout the branch `issue-424`.
I've even `python setup.py develop`, in case that could have made a difference.

Actually.. just looking at the code right now, I realise that your updates only affect `buildExperimentReadQuality`.
That said, I do see `experiment.dir/trimmed-curdlan_bm_lthsc_R1_per_sequence_quality.tsv` appear.
However, that wasn't the original point of th

[2018-06-07 15:02] sebastian-luna-valero commented on #424
Thanks, Kevin.

Could you please run the code with the reproducible example above?

Here are the tables I get after the first pass of `pipeline_readqc`:
[code]

Can you also post the output of `grep Task pipeline.log`

Best regards,
Sebastian

[2018-06-08 09:06] kevinrue commented on #424
Hi @sebastian-luna-valero

I have run `python ... make full -v 5`

I get the same tables as you:
[code]

The output of `grep Task pipeline.log` is
[code]

Note that my point is that after enabling 'trimmomatic'  as a preprocessor, I expect twice as many tables in csvdb with half of them named 'trimmed...'.
However, whatever I do, the additional 'trimmed...' tables never show up. (I even tried call

[2018-06-08 11:54] kevinrue opened #427 "pipeline_peakcalling matplotlib.pyplot `.figure` error"
https://github.com/CGATOxford/CGATPipelines/blob/46f38403040471c7a5972a0db70381959833743f/CGATPipelines/pipeline_peakcalling.py#L1576

Running into the issue `_tkinter.TclError: couldn't connect to display "localhost:11.0"`
Following https://stackoverflow.com/questions/44517289/matplotlib-graph-not-showing, I've tried adding:
[code]
but I still get the same error.
Any idea?

[2018-06-08 11:58] AndreasHeger commented on #427
Hi Kevin,

set in your matplotlibrc config file your backend to agg. This is what I
usually do if I work remotely.

https://matplotlib.org/users/customizing.html#the-matplotlibrc-file

Avoid adding matplotlib.use() statements into code. They often don't
work as the import order is important and are executed even when only
importing a module. Better rely on the user for configuration.

Best wishes,

[2018-06-08 12:21] kevinrue commented on #427
Thanks, it works now!
For the record, I've created the file `~/.config/matplotlib/matplotlibrc` that didn't exist yet (the folder did exist)
And for only content,  I've added the line
[code]

[2018-06-08 12:21] #427 closed, assigned to nobody

[2018-06-11 15:27] sebastian-luna-valero commented on #424
Thanks, Kevin.

I can reproduce the issue and I have tried to fix it in https://github.com/CGATOxford/CGATPipelines/pull/426/commits/b3f044c502720360cdc1c9365719cdeb3c071de7. Please pull and let me know how it goes.

Best regards,
Sebastian

[2018-06-11 20:12] AndreasHeger commented on #424
Hi all, I am just about to refactor this for single cell work in the cgatflow repos such that there will only be a single table for each metric, such as fastqc_Adapter_Content, containing all the data tracks.
The table-per-track design in this pipeline (and in others) does not work very well for 100s of tracks.
Bad design decision from me, apologies.

[2018-06-11 20:52] TomSmithCGAT commented on #424
I think you might be being a bit hard on yourself there Andreas. Your design pre-dated single cell workflow by some way! 🔮

[2018-06-12 15:14] kevinrue commented on #424
Hi @sebastian-luna-valero ,
Sorry for the delay. I just tried now on a 'real' project (i.e., not the cgat test files) and the 'trimmed-*' tables show up in the csvdb.
As far as I'm concerned, the issue is resolved. I'll leave you the pleasure of closing the issue when you merge into `master`

Cheers!

[2018-06-12 15:48] sebastian-luna-valero commented on #424
Thanks for confirming @kevinrue !

@AndreasHeger that's great news!

[2018-06-12 15:53] #424 closed, assigned to nobody

[2018-08-29 15:48] TomSmithCGAT opened #434 "No transcript_info table with pipeline_genesets"
pipeline_annotations used to make a table called `transcript_info` https://github.com/CGATOxford/CGATPipelines/blob/94b975256fa5142f15e82511f4b62a6c19ae38b9/obsolete/pipeline_annotations.py#L1049-L1054 which is used in multiple pipeline, for example in a tracker for `rnaseqdiffexpression` https://github.com/CGATOxford/CGATPipelines/blob/94b975256fa5142f15e82511f4b62a6c19ae38b9/CGATPipelines/pipeli

[2018-08-29 15:57] Acribbs commented on #434
When developing the geneses pipeline the intention was to initially support the bare minimum needed for the CGAT-flow pipelines to work. It was removed because it wasn't used in pipelines and CGATreports isn't supported going forward. If you think you need it then feel free to add it back in. I am using the new cgat-developers code now though.

[2018-08-29 16:17] TomSmithCGAT commented on #434
OK, I'll move this comment to cgat-developers

[2018-08-29 16:17] #434 closed, assigned to nobody

[2019-03-18 21:44] miemonti opened #436 "resolvepackagenotfound"
Input: install-CGAT-tools.sh --devel --no-dashboard

ResolvePackageNOtFound:
- python-drmaa=0.7.6

An error occurred in:

 - line number: 97
 - exit status: 1
 - command: $_CONDA_EXE "$cmd" "$@"

[2019-03-18 21:51] Acribbs commented on #436
Hi, CGATPipelines is now CGAT-flow and the code has moved to here: https://github.com/cgat-developers/cgat-flow.

Are you able to raise an issue here if the problem still persists. Please make sure you pull latest changes first though as we updated the yml files to remove python-drmaa because the package name has changed to drmaa.